img {max-width: 100%;max-height: 100%;}
.nopadding {padding: 0;}

.logo {padding: 10px 0;}
.tarsoldal {display: inline-block;margin-left: 15px;color: #6d3c8d;background-repeat: no-repeat;background-size: 26px;background-position: right center;padding: 8px 30px 5px 0;font-weight: 600;font-size: 20px;margin-top: 20px;}
.tarsoldal:hover {border-bottom: 2px solid #6d3c8d;text-decoration: none;}
.tszemle {background-image: url(/img/ikon-szemle.png);}
.tvp2 {background-image: url(/img/ikon-vp2.png);}
.tkozossegek {background-image: url(/img/ikon-kozossegek.png);}

.menusav {width: 100%;background-color: #6d3c8d;margin-bottom: 20px;}
.navbar a {color: #fff;}
.navbar a:hover {color: #6d3c8d;background-color: #fff!important;}
.navbar .open a {color: #6d3c8d;}
.navbar .btn {color: #6d3c8d;}
.navbar-form {padding: 0;}
.navbar-default {background: none;border: none;}
.navbar-default .navbar-nav>li>a { color: #fff; }

.footer {
    padding: 40px 0;
    color: #efefef;
    text-align: center;
    background-color: #6d3c8d;
}

.footer a {color: #efefef;}
.mobilapps a {display: inline-block;height: 26px;}

.share {
    width: 120px;
    height: 100px;
    margin: 5px;
}

.fb-share-button {
    padding-bottom: 5px;
}

.parsedVerses {
    text-align: justify;
}

span.toggle.active {
    display: none;
}

.active span.toggle.inactive {
    display:none;
}

.active span.toggle.active {
    display: inline;
}

/*http://download.jqueryui.com/themeroller/images/ui-icons_FFFF00_256x240.png*/


.yellow { color: yellow; }
.red { color: #FF0000; }
.grey { color: #989898; }
.lightgrey { color: #E0E0E0;}
.green { color: #008000;}
.blue { color: blue;}


.tooltip{
    font-size: 14px;
}

#formschedule select.form-control,
#formschedule input.form-control {
    height: 25px !important;
    padding: 2px 6px !important;
    font-size: 12px !important;
    line-height: 1.1 !important;
    border-radius: 1px !important;
}    

#formschedule .alap{
    font-size: 12px !important;
}

.nap:after{
        clear: both;
        content: "";
        display: block;
}

@media (min-width: 1800px) {
    .container {
        width: 1770px;
    }
}

.church-site-sidebar-holder {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

@media(max-width: 766px) {
    .church-site-left-sidebar {
        order: 1;
        width: 100%
    }

    .church-site-right-sidebar {
        order: 2;
        width: 100%
    }

    .church-site-main-content {
        order: 0;
        width: 100%
    }
}