.footer {
    padding: 40px 0;
    color: #999;
    text-align: center;
    background-color: #f9f9f9;
    border-top: 1px solid #e5e5e5;
}

.share {
    width: 120px;
    height: 100px;
    margin: 5px;
}

.fb-share-button {
    padding-bottom: 5px;
}

.parsedVerses {
    text-align: justify;
}

span.toggle.active {
    display: none;
}

.active span.toggle.inactive {
    display:none;
}

.active span.toggle.active {
    display: inline;
}

/*http://download.jqueryui.com/themeroller/images/ui-icons_FFFF00_256x240.png*/


.yellow { color: yellow; }
.red { color: #FF0000; }
.grey { color: #989898; }
.lightgrey { color: #E0E0E0;}
.green { color: #008000;}
.blue { color: blue;}


.tooltip{
    font-size: 14px;
}

#formschedule select.form-control,
#formschedule input.form-control {
    height: 25px !important;
    padding: 2px 6px !important;
    font-size: 12px !important;
    line-height: 1.1 !important;
    border-radius: 1px !important;
}    

#formschedule .alap{
    font-size: 12px !important;
}