{% extends 'panel.twig' %}

{% set title = '<span class="glyphicon glyphicon-warning-sign"></span> Segítsd munkánkat!' %}
{% set panel = 'primary' %}

{% block body %}
    <p class=alapkizart>
        Ha észrevételed van a templommal vagy a miserenddel kapcsolatban, írd meg nekünk!
    </p>
    <div align=center>
        <a href="javascript:OpenNewWindow('/templom/{{ id }}/ujeszrevetel',450,530);" class=link>
            <font color=#8D317C size='+1'><b>Észrevétel beküldése</b></font>
        </a>
    </div>
    <div align=center>
        <a href="javascript:OpenNewWindow('/templom/{{ id }}/ujkep',450,530);" class=link>
            <font color=#8D317C size=''><b>Új kép beküldése</b></font>
        </a>
    </div>
{% endblock %}