{% extends 'panel.twig' %}
{% set panel = 'primary' %}


{% block title -%}
    Közösségek a helyszínen
{%- endblock %}


{% block body %}
    {% if kozossegek|length > 1 %}
        <ul style="-webkit-padding-start: 20px;-webkit-margin-before: 0em;">
            {% for kozosseg in kozossegek %}
					<li>
						<a href="{{ kozosseg.link }}" target="_blank">{{ kozosseg.name }}</a>
						
					</li>
            {% endfor %}            
        </ul>
    {% endif %}    
{% endblock %}    


{% block footer %}
    <small>További információk és csatlakozási lehetőség a <a href="https://kozossegek.hu" target="_blank">közösségek.hu</a> partnerünknél.</small>
{% endblock %}
