{% extends 'layout_3col.html.twig' %}

{% set pageTitle = 'Templom és miserendje törlése' %}


{% block content %}
    <div class="alert alert-danger" role="alert">
        <h4 class="alert-heading">{{ church2delete.nev }}</h4>
        <p>Biztosan törölni akarod a következő templomot?</p>
        <hr>
        <p>FIGYELEM! A kapcsolódó misék, képek, kedvencek, felelősök, stb. is törlődnek!</p>
        <hr>

        <form role="form" method="post" class="form"
                      action="/templom/{{ church2delete.id }}/delete">
            
            <div class="controls" class="form-group">            
                <label for="comment">Indoklás:</label><br/>
                <input type="text" name="comment" class="form-control">
            </div><br/>
                   
        <div class="btn-group form-inline" role="group" aria-label="Basic example">
          <button name="confirmation" value="confirmed" class='form-control btn btn-danger button'>igen</button>
          <a href='/templom/{{ church2delete.id }}/edit' class='btn btn-success button'>MÉGSEM</a>            
        </div>
        </form>
    </div>  
{% endblock %}
