<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews
    </IfModule>

    RewriteEngine On

    # Redirect Trailing Slashes...
    RewriteRule ^(.*)/$ /$1 [L,R=301]

    # Handle Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    
	RewriteRule ^api/v([0-9]{1,3})/miserend.sqlite3(/|)$ api.php?q=sqlite&v=$1 [NC]
	RewriteRule ^api/v([0-9]{1,3})/miserend.sqlite3/([0-9]{4}-[0-9]{2}-[0-9]{2})(/|)$ api.php?q=sqlite&v=$1&datum=$2 [NC]

	RewriteRule ^api/v([0-9]{1,3})/updated(/|)$ api.php?q=updated&v=$1 [NC]
	RewriteRule ^api/v([0-9]{1,3})/updated/([0-9]{4}-[0-9]{2}-[0-9]{2})(/|)$ api.php?q=updated&v=$1&datum=$2 [NC]


</IfModule>