sudo: false
language: php
php:
  - 5.5

services:
  - mysql

before_script:
  - mysql -e 'create database miserend character set utf8 collate utf8_unicode_ci;'
  - npm install
  - npm install -g bower
  - php composer.phar selfupdate
  - php composer.phar install
  - echo "USE mysql;\nUPDATE user SET password=PASSWORD('root') WHERE user='root';\nFLUSH PRIVILEGES;\n" | mysql -u root
  - php install.php

script:
  - vendor/phpunit/phpunit/phpunit tests
  #- phpunit --configuration phpunit.xml

after_success:
  - chmod +x deploy.sh
  - deploy.sh

env:
  global:
  - MISEREND_WEBAPP_ENVIRONMENT=production
  - MYSQL_MISEREND_USER=root
  - MYSQL_MISEREND_PASSWORD=root