parameters:
    level: 8
    paths:
        - src
        - tests

    symfony:
        containerXmlPath: var/cache/dev/App_KernelDevDebugContainer.xml

    doctrine:
        objectManagerLoader: tests/StaticAnalysis/object-manager.php

    excludePaths:
        - src/Legacy/*

    ignoreErrors:
        - '#Method App\\Components\\ApiClients\\BreviarKBSClient::fetchCalendar\(\) return type has no value type specified in iterable type array\.#'
        - '#Method App\\Components\\ApiClients\\BreviarKBSClient::fetchCalendarAt\(\) return type has no value type specified in iterable type array\.#'

includes:
    - vendor/phpstan/phpstan-doctrine/extension.neon
    - vendor/phpstan/phpstan-symfony/extension.neon
    - tests/StaticAnalysis/phpstan-baseline.php
