parameters:
    level: 8
    paths:
        - src

    checkGenericClassInNonGenericObjectType: false

    symfony:
        containerXmlPath: var/cache/dev/App_KernelDevDebugContainer.xml

    doctrine:
        objectManagerLoader: tests/StaticAnalysis/object-manager.php

    excludePaths:
        - src/Legacy/*

includes:
    - vendor/phpstan/phpstan-doctrine/extension.neon
    - vendor/phpstan/phpstan-symfony/extension.neon
    - tests/StaticAnalysis/phpstan-baseline.php
