<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="false"
         convertNoticesToExceptions="false"
         convertWarningsToExceptions="false"
         processIsolation="false"
         stopOnFailure="false">
    <php>
        <env name="MISEREND_WEBAPP_ENVIRONMENT" value="production"/>
        <env name="MYSQL_MISEREND_HOST" value="127.0.0.1"/>        
        <env name="MYSQL_MISEREND_USER" value="root" />
        <env name="MYSQL_MISEREND_PASSWORD" value="root" />
        <env name="MYSQL_MISEREND_DATABASE" value="miserend_testing" />             
    </php>
</phpunit>