{% extends 'layout_3col.html.twig' %}

{% set title = 'Adatkezelési tájékoztató' %}

{% block content %}
    <h3>Nem bejelentkezett felhasználók számára</h3>
    <p>A miserend.hu közvetlenül nem gyűjt semmilyen személyes adatot a be nem jelentkezett felhasználóktól. Sütiket (cookie) sem tárolunk a látogató gépén.</p>
    <p>Az oldalon elhelyezett Google Analytics kód segítségével a Google gyűjt statisztikai adatokat a látogatókról és tevékenységükről. Ehhez sütiket is felhasználnak a látogató gépén. 
        Ezeket az adatokat a Google Analytics szolgáltatás szigorúan anonimizálva osztja meg a miserend.hu adminisztárotraival. Az adatokat felhasználjuk az oldal fejlesztéséhez. Más célra - például személyre szabott reklámokra - nem hasnzáljuk fel az adatokat
        és azokat tovább nem adjuk.</p>
    <h4>Észrevételek beküldése</h4>
    <p>Honlapunkon lehetőség van egy-egy misézőhelyhez észrevétel beküldésére, hogy az észrevétel alapján pontosítani tudjuk a nyilvános adatokat.</p>
    <p>Észrevétel beküldésénél csak email cím megadása kötelező. Ezt a címet tovább adhatjuk a honlapon regisztrált adminisztrátoroknak, egyházmegyei felelősöknek, és templom gondnokoknak, hogy például kérdés esetén fel tudják venni a kapcsolatot az észrevétel beküldőjével.
        Az email címet a konkrét észrevétellel kapcsolatos kommunikáción kívül másra (hírlevelek, reklám, stb.) nem használjuk fel.</p>        
    <p>Kérjük az észrevétel beküldőjét, hogy az észrevétel szövegében személyes információt (például a plébános magántelefonszámát) csak akkor adja meg, ha ahhoz az a személy konkrétan hozzájárult.</p>
    <h4>Fényképek beküldése</h4>
    <p>Lehetőség van minden misézőhelyhez fénykép beküldésére is.<p>
    <p>Fontos, hogy csak olyan fényképet töltsön fel mindenki aminek teljes jogával rendelkezik. Valamint ha a képen felismerhetőek személyek, akkor ők is hozzájárultak a kép publikálásához.</p>
    <p>A kép beküldésével a beküldő ill. szerző hozzájárul, hogy a miserend.hu és a hozzá tartozó mobil alkalmazások a képeket a beküldéskor megadott szerző nevében <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/deed.hu">„Nevezd meg! - Ne add el! - Így add tovább! 4.0 Nemzetközi (CC BY-NC-SA 4.0)”</a> licensz alapján publikálja és felhasználja.</p> 
    
    <h3>Bejelentkezett felhasználók számára</h4>
    <p>Regisztrált és bejelentkezett felasználóinkról tároljuk a regisztrációkor megadott személyes adatokat, mint a név, becenév, email cím. </p>
    <p>Valamint gyűjtünk az oldal használata közben létrejött adatokat mint 
            kedvenc templomok, 
            belépések és aktivitások és azok ideje, 
            misézőhelyek adatinak módosítása,
            hozzászólások, 
            észrevételek és azokra reakciók,
            templomok zárt admin szekciójába írt megjegyzések,
            stb.
     Ezeket a miserend.hu pontos működése érdekében felhasználjuk, tároljuk, és megosztjuk az oldal többi regisztrált felhasználójával rangja és hozzáférése szerint. 
     A miserend.hu-n kívülre nem adunk meg ezek közül semmilyen azonosítható személyes adatot.</p>
    <p>A regisztrált email címen értesítéseket küldünk a gondozott misézőhelyekkel kapcsolatban. Ez az értesítés kikapcsolható. Továbbá a regisztráció ill. regisztárció törlése kapcsán küldünk emaileket. Reklámozás célja nem használjuk. Külső / harmadik félnek az email címeket nem adjuk át.</p>
    <p>Az észrevételek beküldése és fényképek beküldésére a nem regisztrált felhasználóknál írt részletek az érvényesek annyi különbséggel, hogy a beküldőt a regisztrált email címe alapján automatikusan azonosítjuk.</p>
    <h4>Személyes adatok kikérése és törlése</h4>
    <p>Jelenleg nincs automatikus rendszerünk egy-egy felhasználó minden személyes adatának kiadására vagy törlésére. 
        Ha ilyen kérése van, akkor írjon nekünk az info kukac miserend pont hu email címre és igyekszünk pár napon belül eleget tenni törvényi kötelezettségünknek.</p>
                        
{% endblock %}
