#bal_hasab {
	position: static;
	float: left;
	width: 352px;
	padding-bottom: 3px;	
	padding-right: 8px;
	text-align: left;
}

#kozepso_hasab {
	position: static;
	float: left;
	width: 155px;
	padding-bottom: 3px;
}

#jobb_hasab {
	position: static;
	float: left;
	width: 251px;
	padding-bottom: 3px;
	padding-left: 8px;
	text-align: left;
}

/****************/
/* Rovatok */
/****************/

#rovat {
	position: static;
	z-index: 10;
	width: 100%;
	text-align: left;
	padding-bottom: 4px;
	margin-bottom: 4px;
	padding-top: 10px;
	margin_top: 5px;
}

#rovat .tovabbi {
	border-top: 1px solid #F1DC99;
	margin-top: 4px;
}

#rovat .hirlead { 
	z-index: 50; 
	background-color: #F4E9BC; 
	border-bottom: 1px solid #F1DC99;
	border-top: 2px solid #F1DC99;
	padding-top: 3px;
	padding-bottom: 0px;
	padding-left: 4px; 
	padding-right: 4px; 
	text-align: justify;
	margin-top: -2px;
	margin-bottom: 0px;
	color: #264D76;
	font-family: Arial; 
	font-weight: normal;
	margin-left: 15px;
}

#rovat .listazart {
	clear: both;
}

#rovat .listanyit {
	display: none;
	clear: both;
}

#rovat .plussz {
	position: static;
	margin-top: 3px;
	background-image: url(../img/plusz.jpg);
	background-repeat: no-repeat;
	float: left;
	width: 9px;
	height: 9px;
	padding-right: 8px;
}

#rovat .minusz {
	position: static;
	margin-top: 3px;
	background-image: url(../img/minusz.jpg);
	background-repeat: no-repeat;
	float: left;
	width: 9px;
	height: 9px;
	padding-right: 8px;
}

#rovat .linklistanyit {
	color: #AB2B20; 
	font-weight: normal;
	text-decoration: none;
	list-style-position: outside;
	list-style-type: none;
}

#rovat .linklistanyit:hover {
	color: #264D76;
}

#rovat .linklistazart {
	color: #264D76; 
	font-weight: normal;
	text-decoration: none;
	list-style-position: outside;
	list-style-type: none;
	margin-bottom: 0px;
}

#rovat .linklistazart:hover {
	color: #AB2B20;
}

#rovat .rovatkep {
	position: static;
	margin-top: -10px;
	float: left;
	z-index: 11;
/*	border-left: 2px solid #FBF9EC;
	border-top: 2px solid #FBF9EC;*/
	border-right: 2px solid #F4E9BC;
	border-bottom: 2px solid #F4E9BC;
	width: 40px;
	height: 80px;
}

#rovat .rovatcim {
	padding-left: 50px;
	font-size: 12px; 
	font-family: Verdana, Arial;
	color: #B96A0A; 
	font-weight: bold;
	/*font-style: italic;*/
	letter-spacing: 2px;
	background-color: #F4E9BC;
	background-image: url(../img/rovatcimfelsoiv.jpg);
	background-repeat: no-repeat;
	background-position: right;
}

#rovat .rovatcim a {
	font-family: Verdana, Arial;
	color: #B96A0A; 
	font-weight: bold;
	text-decoration: none;
}

#rovat .rovatcim a:hover {
	color: #AB2B20;
	letter-spacing: 4px;
}

#rovat .rovatcikk {
	background-color: #FBF9EC;
	padding-left: 50px;
	font-size: 12px;
	background-image: url(../img/rovatkephatter.jpg);
	background-repeat: repeat-y;
	background-position: left;
	padding-top: 5px;
}

#rovat .cikkcim a {
	font-size: 13px;
	color: #AB2B20;
	font-weight: bold;
	text-decoration: none;
}

#rovat .cikkcim a:hover {
	color: #B96A0A;
	text-decoration: underline;
}

#rovat .lead {
	color: #440A16;
	font-size: 12px;
	padding-top: 4px;
	padding-right: 6px;
	text-align: justify;
}

#rovat .tovabb {
	text-align: right;
	padding-right: 4px;
}

#rovat .tovabb a {
	text-decoration: none;
	font-size: 10px;
	color: #603506;
}

#rovat .tovabb a:hover {
	color: #AB2B20;
}

#rovat .alsoiv {
	background-color: #FBF9EC;
	background-image: url(../img/rovatkephatteriv.jpg);
	background-repeat: no-repeat;
	background-position: left;
	height: 6px;
	font-size: 0px;
}


/****************/
/* ELÕTÉR rovat */
/****************/

#eloter {
	position: static;
	z-index: 1;
	width: 100%;
	background-color: #FBF9EC;
	text-align: left;
	padding-bottom: 4px;
	margin-bottom: 4px;
}

#eloter .rovatcim {
	float: left;
	margin-left: 4px;
	font-size: 13px; 
	font-family: Verdana, Arial;
	color: #BC6F29; 
	font-weight: bold;
	/*font-style: italic;*/
	text-align: left;
	letter-spacing: 4px;
	background-color: #F4E9BC;
}

#eloter .rovatcim_disz {
	text-align: right;
	background-color: #F4E9BC;
}

#eloter .cikkcim {
	clear: both;
	padding-top: 4px;
	padding-bottom: 3px;
	margin-left: 4px;
	font-size: 13px; 
	font-family: Verdana, Arial;
	color: #AB2B20; 
	font-weight: bold;
	text-align: left;
	letter-spacing: 1px;
	text-decoration: none;
}

#eloter .cikkcim a {
	color: #AB2B20; 
	font-weight: bold;
	text-decoration: none;
}

#eloter .cikkcim a:hover {
	color: #B96A0A;
	text-decoration: underline;
}

#eloter .cikklead {
	margin-left: 4px;
	font-size: 13px; 
	color: #440A16; 
	font-weight: normal;
	text-align: left;
}

#eloter .tovabb {
	font-size: 10px; 
	text-align: right;
	padding-right: 4px;
}

#eloter .tovabb a{
	font-size: 10px; 
	color: #603506; 
	text-decoration: none;
}

#eloter .tovabb a:hover {
	color: #8D317C;
}


/**********************/
/* aktuális határidõk */
/**********************/

#hataridok {
	position: static;
	z-index: 1;
	width: 100%;
	background-color: #F1E6D2;
	text-align: left;
	padding-bottom: 4px;
}

#hataridok .hirlead { 
	z-index: 50; 
	background-color: #F4E9BC; 
	border-bottom: 1px solid #D0B490;
	border-top: 2px solid #D0B490;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 4px; 
	padding-right: 4px; 
	text-align: justify;
	margin-top: -2px;
	margin-bottom: 6px;
	color: #835F41;
	font-family: Arial; 
	font-weight: normal;
	margin-left: 15px;
}

#hataridok .listazart {
	clear: both;
}

#hataridok .listanyit {
	display: none;
	clear: both;
}

#hataridok .plussz {
	position: static;
	margin-top: 3px;
	background-image: url(../img/plusz.jpg);
	background-repeat: no-repeat;
	float: left;
	width: 9px;
	height: 9px;
	padding-right: 8px;
}

#hataridok .minusz {
	position: static;
	margin-top: 3px;
	background-image: url(../img/minusz.jpg);
	background-repeat: no-repeat;
	float: left;
	width: 9px;
	height: 9px;
	padding-right: 8px;
}

#hataridok .rovatcim_disz {
	float: left;
	margin-right: -3px;
	text-align: left;
	background-color: #AF815D;
	height: 16px;
	background-image: url(../img/focimpontok_jobb.jpg);
	width: 120px;
}

#hataridok .rovatcim {
	padding-right: 4px;
	font-size: 12px; 
	height: 16px;
	font-family: Verdana, Arial;
	color: #FFFFFF; 
	font-weight: bold;
	font-style: italic;
	text-align: right;
	/*letter-spacing: 2px;*/
	background-color: #AF815D;	
}

#hataridok .link {
	clear: both;
	padding-top: 4px;
	padding-bottom: 3px;
	padding-right: 6px;
	margin-left: 4px;
	font-size: 12px; 
	color: #4D3827; 
	/*font-weight: bold;*/
	text-align: left;
	text-decoration: none;
}

#hataridok .linklistanyit {
	color: #AB2B20; 
	font-weight: bold;
	text-decoration: none;
	list-style-position: outside;
	list-style-type: none;
}

#hataridok .linklistanyit:hover {
	color: #835F41;
}

#hataridok .linklistazart {
	color: #4D3827; 
	/*font-weight: bold;*/
	text-decoration: none;
	list-style-position: outside;
	list-style-type: none;
	margin-bottom: 3px;
}

#hataridok .linklistazart:hover {
	color: #AB2B20;
}

#hataridok .datum {
	font-size: 10px; 
	color: #000000; 
	font-style: italic;
	font-family: Verdana, Arial;
	text-decoration: none;
	font-weight: normal;
}

/**********************/
/* friss hírek */
/**********************/

#friss_hirek {
	position: static;
	z-index: 1;
	width: 100%;
	background-color: #FBF9EC;
	text-align: left;
	padding-bottom: 4px;
	margin-top: 7px;
}

#friss_hirek .hirlead { 
	z-index: 50; 
	background-color: #F4E9BC; 
	border-bottom: 1px solid #F1DC99;
	border-top: 2px solid #F1DC99;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 4px; 
	padding-right: 4px; 
	text-align: justify;
	margin-top: -2px;
	margin-bottom: 6px;
	color: #264D76;
	font-family: Arial; 
	font-weight: normal;
	margin-left: 15px;
}

#friss_hirek .listazart {
	clear: both;
}

#friss_hirek .listanyit {
	display: none;
	clear: both;
}

#friss_hirek .plussz {
	position: static;
	margin-top: 3px;
	background-image: url(../img/plusz.jpg);
	background-repeat: no-repeat;
	float: left;
	width: 9px;
	height: 9px;
	padding-right: 8px;
}

#friss_hirek .minusz {
	position: static;
	margin-top: 3px;
	background-image: url(../img/minusz.jpg);
	background-repeat: no-repeat;
	float: left;
	width: 9px;
	height: 9px;
	padding-right: 8px;
}

#friss_hirek .rovatcim {
	padding-right: 4px;
	font-size: 12px; 
	height: 16px;
	font-family: Verdana, Arial;
	color: #AB2B20; 
	font-weight: bold;
	font-style: italic;
	text-align: right;
	/*letter-spacing: 2px;*/
	background-color: #F1DC99;	
}

#friss_hirek .link {
	clear: both;
	padding-top: 4px;
	padding-bottom: 3px;
	padding-right: 6px;
	margin-left: 4px;
	font-size: 12px; 
	color: #835F41; 
	/*font-weight: bold;*/
	text-align: left;
	text-decoration: none;
}


#friss_hirek .linklistanyit {
	color: #AB2B20; 
	font-weight: bold;
	text-decoration: none;
	list-style-position: outside;
	list-style-type: none;
}

#friss_hirek .linklistanyit:hover {
	color: #264D76;
}

#friss_hirek .linklistazart {
	color: #264D76; 
	/*font-weight: bold;*/
	text-decoration: none;
	list-style-position: outside;
	list-style-type: none;
	margin-bottom: 3px;
}

#friss_hirek .linklistazart:hover {
	color: #AB2B20;
}

#friss_hirek .datum {
	font-size: 10px; 
	color: #000000; 
	font-style: italic;
	font-family: Verdana, Arial;
	text-decoration: none;
	font-weight: normal;
}

/**********************/
/* közeli programok   */
/**********************/

#aktualis {
	position: static;
	z-index: 1;
	width: 100%;
	background-color: #F1E6D2;
	text-align: left;
	padding-bottom: 4px;
	margin-top: 7px;
}

#aktualis .hirlead { 
	z-index: 50; 
	background-color: #F4E9BC; 
	border-bottom: 1px solid #D0B490;
	border-top: 2px solid #D0B490;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 4px; 
	padding-right: 4px; 
	text-align: justify;
	margin-top: -2px;
	margin-bottom: 6px;
	color: #835F41;
	font-family: Arial; 
	font-weight: normal;
	margin-left: 15px;
}

#aktualis .listazart {
	clear: both;
}

#aktualis .listanyit {
	display: none;
	clear: both;
}

#aktualis .plussz {
	position: static;
	margin-top: 3px;
	background-image: url(../img/plusz.jpg);
	background-repeat: no-repeat;
	float: left;
	width: 9px;
	height: 9px;
	padding-right: 8px;
}

#aktualis .minusz {
	position: static;
	margin-top: 3px;
	background-image: url(../img/minusz.jpg);
	background-repeat: no-repeat;
	float: left;
	width: 9px;
	height: 9px;
	padding-right: 8px;
}

#aktualis .rovatcim_disz {
	float: left;
	margin-right: -3px;
	text-align: left;
	background-color: #AF815D;
	height: 16px;
	background-image: url(../img/focimpontok_jobb.jpg);
	width: 120px;
}

#aktualis .rovatcim {
	padding-right: 4px;
	font-size: 12px; 
	height: 16px;
	font-family: Verdana, Arial;
	color: #FFFFFF; 
	font-weight: bold;
	font-style: italic;
	text-align: right;
	/*letter-spacing: 2px;*/
	background-color: #AF815D;	
}

#aktualis .link {
	clear: both;
	padding-top: 4px;
	padding-bottom: 3px;
	margin-left: 4px;
	padding-right: 6px;
	font-size: 12px; 
	color: #4D3827; 
	/*font-weight: bold;*/
	text-align: left;
	text-decoration: none;
}

#aktualis .linklistanyit {
	color: #AB2B20; 
	font-weight: bold;
	text-decoration: none;
	list-style-position: outside;
	list-style-type: none;
}

#aktualis .linklistanyit:hover {
	color: #835F41;
}

#aktualis .linklistazart {
	color: #4D3827; 
	/*font-weight: bold;*/
	text-decoration: none;
	list-style-position: outside;
	list-style-type: none;
	margin-bottom: 3px;
}

#aktualis .linklistazart:hover {
	color: #AB2B20;
}

#aktualis .datum {
	font-size: 10px; 
	color: #000000; 
	font-style: italic;
	font-family: Verdana, Arial;
	text-decoration: none;
	font-weight: normal;
}