/*****************/
/* Modul menük   */
/*****************/


#eszrevetelek {
	position: static;
	width: 100%;
	margin-bottom: 4px;
}

#eszrevetelek .cim {
	width: 100%;
	font-family: Verdana, Arial;
	font-size: 12px;
	color: #244C8F;
	font-weight: bold;
	text-decoration: none;
	padding-left: 2px;
	padding-bottom: 2px;
	padding-top: 2px;
	background-color: #EAEDF1;
}

#eszrevetelek .tartalom {
	font-family: Arial;
	font-size: 13px;
	padding-left: 6px;
	padding-right: 6px;
	text-align: justify;
	background-color: #F7F2D2;
}

#eszrevetelek .bekuld {
	padding-top: 6px;
	text-align: center;
}

#eszrevetelek .bekuld a{
	text-decoration: none;
	color: #8D317C;
	font-weight: bold;
}

#eszrevetelek .bekuld a:hover{
	letter-spacing: 1px;
}

/* piros ünnep */
#unnep_piros {
	position: static;
	width: 100%;
	margin-bottom: 4px;
	border-right: 1px solid #78121E;
	border-bottom: 1px solid #78121E;
	border-left: 1px solid #F17F87;
	border-top: 1px solid #F17F87;	
}

#unnep_piros .cim {
	font-family: Verdana, Arial;
	font-size: 12px;
	color: #FFFFFF;
	font-weight: bold;
	text-decoration: none;
	padding-left: 2px;
	padding-bottom: 2px;
	padding-top: 2px;
	background-color: #E65050;
	letter-spacing: 1px;	
	text-align: center;
}

#unnep_piros .tartalom {
	font-family: Arial;
	font-size: 12px;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 4px;
	padding-bottom: 4px;
	text-align: justify;
	background-color: #F7F2D2;
	border-left: 1px solid #E65050;
	border-right: 1px solid #E65050;
	border-bottom: 1px solid #E65050;
}
/***************************/

/* rózsaszín ünnep */
#unnep_rozsaszin {
	position: static;
	width: 100%;
	margin-bottom: 4px;
}

#unnep_rozsaszin .cim {
	font-family: Verdana, Arial;
	font-size: 12px;
	color: #490D5F;
	font-weight: bold;
	text-decoration: none;
	padding-left: 2px;
	padding-bottom: 2px;
	padding-top: 2px;
	background-color: #F7C5D6;
	letter-spacing: 1px;
	text-align: center;
}

#unnep_rozsaszin .tartalom {
	font-family: Arial;
	font-size: 12px;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 4px;
	padding-bottom: 4px;
	text-align: justify;
	background-color: #F7F2D2;
	border-left: 1px solid #F7C5D6;
	border-right: 1px solid #F7C5D6;
	border-bottom: 1px solid #F7C5D6;
}
/***************************/

/* lila ünnep */
#unnep_lila {
	position: static;
	width: 100%;
	margin-bottom: 4px;
}

#unnep_lila .cim {
	font-family: Verdana, Arial;
	font-size: 12px;
	color: #FFFFFF;
	font-weight: bold;
	text-decoration: none;
	padding-left: 2px;
	padding-bottom: 2px;
	padding-top: 2px;
	background-color: #8E779F;
	text-align: center;
}

#unnep_lila .tartalom {
	font-family: Arial;
	font-size: 13px;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 4px;
	padding-bottom: 4px;
	text-align: justify;
	background-color: #F7F2D2;
	border-left: 1px solid #8E779F;
	border-right: 1px solid #8E779F;
	border-bottom: 1px solid #8E779F;
}
/***************************/

#kozepso_hasab table.modul {
	margin-bottom: 5px;
	text-align: left;
}

#kozepso_hasab td.hasabcim {
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 12px; 
	color: #FFFFFF; 
	font-weight: bold; 
	text-decoration: none;
	padding-left: 4px;
	text-align: left;
	letter-spacing: 1px;
}

#kozepso_hasab .hasabcimlink {
	font-size: 12px;
	color: #FFFFFF; 
	font-weight: bold; 
	text-decoration: none;
}

#kozepso_hasab .hasabcimlink:hover {
	color: #FFFFFF;	
	letter-spacing: 0px;
}

#kozepso_hasab .kicsi {  
	font-size: 10px; 
}

#kozepso_hasab a {
	font-size: 11px; 
	text-decoration: none;
	color: #000000;
}

#kozepso_hasab a:hover {
	color: #AB2B20;
	font-weight: bold;
}

#kozepso_hasab td.naptar { vertical-align: middle; height: 16px; border-style: solid; border-color: #909090; border-width: 1px;  background: #FFFFFF; }
#kozepso_hasab td.selnaptar { vertical-align: middle; height: 16px; border-style: solid; border-color: #053D78; border-width: 2px; background: #F6F8F7; }
#kozepso_hasab td.mainaptar { vertical-align: middle; height: 16px; border-style: solid; border-color: #AF0037; border-width: 1px; background: #FAF7F0; }
#kozepso_hasab td.unnepnaptar { vertical-align: middle; height: 16px; border-style: solid; border-color: #909090; border-width: 1px; background: #d45a7a; }
#kozepso_hasab td.maiunnepnaptar { vertical-align: middle; height: 16px; border-style: solid; border-color: #AF0037; border-width: 1px; background: #d45a7a; }
#kozepso_hasab td.selunnepnaptar { vertical-align: middle; height: 16px; border-style: solid; border-color: #053D78; border-width: 2px; background: #d45a7a; }

#kozepso_hasab td.enaptar { border-style: solid; border-color: #909090; border-width: 1px;}
#kozepso_hasab td.selenaptar { border-style: solid; border-color: #006E48; border-width: 1px;}
#kozepso_hasab td.maienaptar { border-style: solid; border-color: #AF0037; border-width: 1px;}

#kozepso_hasab td.naptarinfo { border-style: solid; border-color: #835F41; margin-left: 4px; margin-right: 4px; border-width: 1px; background: #FFFAE4; }
