#bal_hasab {
	position: static;
	float: left;
	width: 562px;
	padding-bottom: 3px;	
	padding-right: 5px;
	text-align: left;
}

#jobb_hasab {
	position: static;
	float: left;
	width: 200px;
	padding-bottom: 3px;
	padding-left: 5px;
	text-align: left;
}

/****************/
/* Rovatok */
/****************/

#rovat {
	position: static;
	z-index: 10;
	width: 100%;
	text-align: left;
	padding-bottom: 4px;
	margin-bottom: 4px;
	padding-top: 10px;
	margin_top: 5px;
}

#rovat .rovatkep {
	position: static;
	margin-top: -10px;
	float: left;
	z-index: 11;
/*	border-left: 2px solid #FBF9EC;
	border-top: 2px solid #FBF9EC;*/
	border-right: 2px solid #F4E9BC;
	border-bottom: 2px solid #F4E9BC;
	width: 40px;
	height: 80px;
}

#rovat .rovatcim {
	padding-left: 50px;
	font-size: 10px; 
	font-family: Verdana, Arial;
	color: #B96A0A; 
	font-weight: bold;
	/*font-style: italic;*/
	letter-spacing: 2px;
	background-color: #F4E9BC;
	background-image: url(../img/rovatcimfelsoiv.jpg);
	background-repeat: no-repeat;
	background-position: right;
}

#rovat .rovatcim a {
	font-family: Verdana, Arial;
	color: #B96A0A; 
	font-weight: bold;
	text-decoration: none;
}

#rovat .rovatcim a:hover {
	color: #AB2B20;
	letter-spacing: 4px;
}

#rovat .rovatcikk {
	background-color: #FBF9EC;
	padding-left: 50px;
	font-size: 12px;
	background-image: url(../img/rovatkephatter.jpg);
	background-repeat: repeat-y;
	background-position: left;
	padding-top: 5px;
}

#rovat .cikkcim {
	margin-top: 4px;
	font-size: 16px;
	color: #AB2B20;
	font-weight: bold;
	text-decoration: none;
}

#rovat .datum {
	font-size: 10px;
	color: #000000;
	font-style: italic;
}

#rovat .alapkizart {
	color: #440A16;
	font-size: 12px;
	padding-top: 4px;
	padding-right: 10px;
	text-align: justify;
}

#rovat .kiemelt {
	color: #440A16;
	font-size: 12px;
	padding-top: 4px;
	letter-spacing: 1px;
	padding-right: 10px;
	font-weight: bold;
	text-align: justify;
}

#rovat .alapkizart a{
	color: #440A16;
	font-size: 12px;
	text-decoration: underline;
}

#rovat .alapkizart a:hover{
	color: #440A16;
	font-weight: bold;
}

#rovat .link{
	color: #440A16;
	font-size: 12px;
	text-decoration: underline;
}

#rovat .link:hover{
	color: #440A16;
	font-weight: bold;
}

#rovat .alsoiv {
	background-color: #FBF9EC;
	background-image: url(../img/rovatkephatteriv.jpg);
	background-repeat: no-repeat;
	background-position: left;
	height: 6px;
	font-size: 0px;
}

#rovat .tovabb {
	padding-top: 10px;
	font-size: 12px; 
	color: #000000;
	text-align: center;
}

#rovat .tovabb a{
	font-size: 12px; 
	color: #000000;
	text-decoration: none;
}

#rovat .tovabb a:hover{
	color: #440A16;
	/*#AB2B20*/
}

#rovat .hiba{
	color: #FF0000;
	font-weight: bold;
}

/****************/
/* ELÕTÉR rovat */
/****************/

#eloter {
	position: static;
	z-index: 1;
	width: 100%;
	background-color: #FBF9EC;
	text-align: left;
	padding-bottom: 4px;
	margin-bottom: 4px;
}

#eloter .rovatcim {
	float: left;
	margin-left: 4px;
	font-size: 13px; 
	font-family: Verdana, Arial;
	color: #BC6F29; 
	font-weight: bold;
	/*font-style: italic;*/
	text-align: left;
	letter-spacing: 4px;
	background-color: #F4E9BC;
}

#eloter .rovatcim_disz {
	text-align: right;
	background-color: #F4E9BC;
}

#eloter .cikkcim {
	clear: both;
	padding-top: 4px;
	padding-bottom: 3px;
	margin-left: 4px;
	font-size: 13px; 
	font-family: Verdana, Arial;
	color: #AB2B20; 
	font-weight: bold;
	text-align: left;
	letter-spacing: 1px;
	text-decoration: none;
}

#eloter .cikkcim a {
	color: #AB2B20; 
	font-weight: bold;
	text-decoration: none;
}

#eloter .cikkcim a:hover {
	color: #B96A0A;
	text-decoration: underline;
}

#eloter .cikklead {
	margin-left: 4px;
	font-size: 13px; 
	color: #440A16; 
	font-weight: normal;
	text-align: left;
}

#eloter .tovabb {
	font-size: 10px; 
	text-align: right;
	padding-right: 4px;
}

#eloter .tovabb a{
	font-size: 10px; 
	color: #603506; 
	text-decoration: none;
}

#eloter .tovabb a:hover {
	color: #8D317C;
}

/**********************/
/* kapcsolódó hírek */
/**********************/

#kapcsolodo_hirek {
	position: static;
	z-index: 1;
	width: 100%;
	background-color: #FFFBDB;
	text-align: left;
	padding-bottom: 4px;
	margin-top: 20px;
	margin-right: 5px;
}

#kapcsolodo_hirek .hirlead { 
	z-index: 50; 
	background-color: #F4E9BC; 
	border-bottom: 1px solid #F1DC99;
	border-top: 2px solid #F1DC99;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 4px; 
	padding-right: 4px; 
	text-align: justify;
	margin-top: -2px;
	margin-bottom: 6px;
	color: #264D76;
	font-family: Arial; 
	font-weight: normal;
	margin-left: 15px;
}

#kapcsolodo_hirek .listazart {
	clear: both;
}

#kapcsolodo_hirek .listanyit {
	display: none;
	clear: both;
}

#kapcsolodo_hirek .plussz {
	position: static;
	margin-top: 3px;
	background-image: url(../img/plusz.jpg);
	background-repeat: no-repeat;
	float: left;
	width: 9px;
	height: 9px;
	padding-right: 8px;
}

#kapcsolodo_hirek .minusz {
	position: static;
	margin-top: 3px;
	background-image: url(../img/minusz.jpg);
	background-repeat: no-repeat;
	float: left;
	width: 9px;
	height: 9px;
	padding-right: 8px;
}

#kapcsolodo_hirek .rovatcim {
	position: static;
	float: left;
	padding-left: 24px;
	font-size: 11px; 
	height: 16px;
	font-family: Verdana, Arial;
	color: #AB2B20; 
	font-weight: bold;
	letter-spacing: 1px;
	background-image: url(../img/kapcsolodocimfelsoiv.jpg);
	background-repeat: no-repeat;
	background-position: left;
	background-color: #F1DC99;	
}

#kapcsolodo_hirek .rovatcim_disz {
	position: static;
	text-align: right;
	background-color: #F1DC99;
	height: 16px;
}

#kapcsolodo_hirek .link {
	clear: both;
	padding-top: 4px;
	padding-bottom: 3px;
	padding-left: 4px;
	font-size: 12px; 
	color: #835F41; 
	font-weight: bold;
	text-align: left;
	text-decoration: none;
	border-bottom: 1px solid #F1DC99;
	border-right: 1px solid #F1DC99;
	border-left: 1px solid #F1DC99;

}


#kapcsolodo_hirek .linklistanyit {
	color: #AB2B20; 
	font-weight: bold;
	text-decoration: none;
	list-style-position: outside;
	list-style-type: none;
}

#kapcsolodo_hirek .linklistanyit:hover {
	color: #264D76;
}

#kapcsolodo_hirek .linklistazart {
	color: #264D76; 
	font-weight: bold;
	text-decoration: none;
	list-style-position: outside;
	list-style-type: none;
	margin-bottom: 3px;
}

#kapcsolodo_hirek .linklistazart:hover {
	color: #AB2B20;
}

#kapcsolodo_hirek .datum {
	font-size: 10px; 
	color: #000000; 
	font-style: italic;
	font-family: Verdana, Arial;
	text-decoration: none;
	font-weight: normal;
}
