
body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #000000;
	background-color: #EEF4EE;
	margin-top: 0px;
	margin-left: 0px;
}

#keret {
	position: static;
	width: 775px;
	background-color: #FFFFFF;
	border-left: 1px solid #c79e75;
	border-right: 1px solid #c79e75;
}

/*******************************************/
/*	 		FEJLÉC				*/
/*******************************************/

#fejlec {
	position: static;
	width: 100%;
	background-image: url(../img/felsocsik.jpg);
	background-repeat: repeat-x;
	background-position: top;
}

/***************/

#fejlec_bal {
	position: static;
	float: left;
	width: 650px;
	margin-top: 4px;
}

#nevnap {
	position: static;
	float: left;
	width: 170px;
	height: 34px;
	background-image: url(../img/fenthatter.jpg);	
	font-weight: bold;
	text-align: center;
	padding-top: 3px;
}

#nevnap .datum {
	font-size: 11px; 
	color: #053D78; 
}

#nevnap .unnep {
	font-size: 11px; 
	color: #053D78; 
}

/***************/

#menusor {
	position: static;
	float: left;
	width: 480px;
	height: 34px;
	background-image: url(../img/fenthatter.jpg);
	text-align: left;
}

#menusor .felsomenu_aktiv {
	position: static;
	float: left;
	z-index: 5;
	height: 34px;
	background-image: url(../img/felsomenuhatter1.jpg);
	background-repeat: no-repeat;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 4px;
	text-align: center;
	font-size: 12px; 
	font-weight: bold; 
}

#menusor .felsomenu_aktiv a {
	color: #053D78; 	
	text-decoration: none;
}

#menusor .felsomenu_aktiv a:hover {
	color: #AC7F5D;
}

#menusor .felsomenu_sima {
	position: static;
	float: left;
	z-index: 5;
	height: 34px;
	background-image: url(../img/felsomenuhatter.jpg);
	background-repeat: no-repeat;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 4px;
	text-align: center;
	font-size: 12px; 
	font-weight: bold; 
}

#menusor .felsomenu_sima a {
	color: #053D78; 	
	text-decoration: none;
}

#menusor .felsomenu_sima a:hover {
	color: #AC7F5D;
}

/***************/

#oldal_logo {
	clear: both;
	position: static;
	float: left;
	background-image: url(../img/ballogo.jpg);
	background-repeat: no-repeat;
	width: 300px;
	height: 44px;
	margin-top: 2px;
	margin-bottom: 5px;
}

/***************/

#jobb_logok {
	position: relative;
	float: right;
	right: 20px;
	top: 5px;
	background-image: url(../img/jobblogo.jpg);
	background-repeat: no-repeat;
	width: 84px;
	height: 78px;
}

/***************/

#fejlec .login_elvalaszto {
	position: static;
	float: left;
	background-image: url(../img/elvalasztocsik.jpg);
	width: 2px;
	height: 44px;
	margin-top: 2px;
}

#login_mezo {	
	position: static;
	float: left;
	width: 346px;
	height: 44px;
	font-size: 11px;
	font-family: Verdana, Arial;
	text-align: left;
}

#login_mezo td {
	padding-left: 10px;
}

#login_mezo a {
	text-decoration: none;
	color: #000000;
}

#login_mezo a:hover {
	color: #AC7F5D;
	text-decoration: underline;
}

#login_mezo .loginurlap {  
	font-size: 11px;
	font-family: Arial, Helvetica;
	background-color: #FFFFFF; 
	border: #CBB5A0; 
	border-style: solid; 
	border-top-width: 1px; 
	border-right-width: 1px; 
	border-bottom-width: 1px; 
	border-left-width: 1px;
	margin-top: 2px;
	margin-bottom: 2px;
}

/***************/

#fejlec_vege {
	clear: both;
	position: relative;
	background-image: url(../img/elvalasztocsikfent.jpg);
	width: 775px;
	height: 20px;
	margin-top: 5px;
	margin-bottom: 5px;
}

/*******************************************/
/*	 		TARTALOM				*/
/*******************************************/

#tartalom {
	clear: both;
	position: static;
}

/*******************************************/
/*	 		LÁBLÉC				*/
/*******************************************/

#lablec {
	clear: both;
	position: static;
	width: 100%;
	height: 38px;
	background-image: url(../img/alsocsik.jpg);
	background-repeat: repeat-x;
	background-position: bottom;
}

/**************/

#lablec_bal {
	position: static;
	float: left;
	width: 145px;
	height: 34px;
	text-align: center;
	font-family: Verdana, Arial;
	font-size: 11px;
	color: #BBBAB6;
	background-image: url(../img/lenthatter.jpg);
}

#lablec_bal a {
	text-decoration: none;
	color: #BBBAB6;
}

#lablec_bal a:hover {
	color: #AC7F5D;
}

/**************/

#lablec_menusor {
	position: static;
	float: left;
	width: 490px;
	height: 34px;
	text-align: center;
	background-image: url(../img/lenthatter.jpg);
}

#lablec_menusor .alsomenu_aktiv {
	position: static;
	float: left;
	z-index: 5;
	background-image: url(../img/alsomenuhatter1.jpg);
	background-repeat: no-repeat;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 12px;
	text-align: center;
	font-size: 12px; 
	font-weight: bold; 
}

#lablec_menusor .alsomenu_aktiv a {
	color: #053D78; 	
	text-decoration: none;
}

#lablec_menusor .alsomenu_aktiv a:hover {
	color: #AC7F5D;
}

#lablec_menusor .alsomenu_sima {
	position: static;
	float: left;
	z-index: 5;
	background-image: url(../img/alsomenuhatter.jpg);
	background-repeat: no-repeat;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 12px;
	text-align: center;
	font-size: 12px; 
	font-weight: bold; 
}

#lablec_menusor .alsomenu_sima a {
	color: #053D78; 	
	text-decoration: none;
}

#lablec_menusor .alsomenu_sima a:hover {
	color: #AC7F5D;
}

/**************/

#lablec_jobb {
	position: static;
	float: left;
	width: 140px;
	height: 34px;
	text-align: center;
	font-family: Verdana, Arial, Helvetica;
	font-size: 11px;
	color: #BBBAB6;
	background-image: url(../img/lenthatter.jpg);
}

#lablec_jobb a {
	text-decoration: none;
	color: #BBBAB6;
}

#lablec_jobb a:hover {
	color: #AC7F5D;
}
