{% extends 'panel/base.html.twig' %}
{% set card_class = 'mt-5' %}


{% block panel_body %}
<div class="text-center fw-bold">
	<p>
		A misézőhelyek akadálymentességére vonatkozó információk a <a href="https://72tanitvany.hu/" target="_blank">Hetvenkét Tanítvány Mozgalom</a> együttműködésével, és a Magyarország Kormánya és a Miniszterelnökség támogatásával kerülnek feltüntetésre.
	</p>
	<img src="{{ asset('static/images/NEA_ME_BGA_kicsi.png') }}" />
</div>

{% endblock %}
