{% if pagination %}
    <nav align="center">
        <ul class="pagination">
            {% if pagination.previous %}
                <li>
                    <a href="{{ pagination.previous }}" aria-label="Előző">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
            {% endif %}
            {% for key, url in pagination.pages %}        
                <li class="{% if pagination.active == key %} active{% endif %}">
                    <a href="{{ url }}">{{ key + 1  }}</a>
                </li>
            {% endfor %}    
            {% if pagination.next %}
                <li>
                    <a href="{{ pagination.next }}" aria-label="Következő">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>
{% endif %}
