{% extends 'panel.twig' %}

{% set title = '' %}
{% set panel = 'dark' %}

{% block body %}
    <center style="background-color:black">
		
		<a href="https://szentjozsef.jezsuita.hu/szent-jozsef-hackathon/" target="_blank">
			<img src="/img/01_hackathon-logo-black.png">
			<div style="color:white;padding:5px"><strong>Egy programozói hétvége, hogy jobbá tegyük a miserend.hu-t (is)!</strong></div>
		</a>
      
    </center>

{% endblock %}    
