{% extends 'panel.twig' %}

{% set title = random([
    'Már folyik a munka! - Köszönjük a támogatást!',
    'Már fel van állványozva a honlap! - Köszönjük a támogatást!',
    'Támogasd a megújulást! - Köszönjük a támogatást!',
    'A kód pörög, a tervező izgul! - Köszönjük a támogatást!'
]) %}
{% set panel = 'success' %}

{% set footer = true %}

{% block title %}
    {{ title|raw }}    
{% endblock %}


{% block body %}
    <p>323 támogató közreműködésével 4,5 millió forint gyűlt össze, hogy a miserend mélyét megújítsuk.</p>
    <p>A gyűjtés lezárulása után elkezdtük egy céggel a részletes tervek kidolgozását.
     Az elkészült tervhez aztán több kivitelezőt is megkerestük. 
     Majd nem régen megszületett a szerződés. 
     És most folyik a munka.</p>    
{% endblock %}    

{% block footer %}
    A gyűjtést a minket támogató <a href="https://72tanitvany.hu/" target="_blank">72 Tanítvány Mozgalom</a> szervezte az <a href="https://adjukossze.hu/adomanygyujtes/legyen-friss-az-orszagos-miserend-hu-3562/">Adjukössze.hu</a> felületén.
           
{% endblock %}    