{% extends "layout.twig" %}

{% block body %}
	<div class="container" id="header">
        <div class="col-md-3 nopadding logo"><a href="/"><img src="/img/logo.png" alt="Miserend oldal" loading="lazy"/></a></div>
        <div class="col-md-9 nopadding text-right">
            <a href="https://kozossegek.hu" target="_blank" class="tarsoldal tkozossegek">kozossegek.hu</a>
            <a href="https://vp2.hu" target="_blank" class="tarsoldal tvp2">vp2.hu</a>
        </div>
    </div>
    <div class="menusav" id="menusav">
        <div class="container">
            {% include 'navbar.twig' %}
        </div>
    </div>
    <div class="container">
        <!--{% block pageHeader %}{% if title %}<h3>{{ title|raw }}</h3>{% endif %}{% endblock %}-->
        {% block content %}
            <style>
                #mapid {
                    position: relative;
                    width: 100%;
                    height: calc(100vh - 50px); /* A menusav magassága */
                }
                #menusav {
                    margin-bottom: 0 ;
                }
            </style>
            <script>
                document.addEventListener("DOMContentLoaded", function () {
                    const header = document.querySelector('#header');
                    const menusav = document.querySelector('#menusav');
                    const mapid = document.querySelector('#mapid');
                    const headerHeight = header.offsetHeight;
                    const menusavHeight = menusav.offsetHeight;

                    mapid.style.height = `calc(100vh - ${headerHeight}px - ${menusavHeight}px )`;
                });
            </script>
        {% endblock %}
    </div>

        {% include '_map_leaflet.twig' %}           
        
        {% block messages %}
            <div id="messages" style="top:30px;margin-left:auto;margin-right:auto;margin-bottom:6px;position:absolute;">
                {% if messages %}
                    {% for message in messages %}
                        {% include 'message.twig' with message %}
                    {% endfor %}
                {% endif %}
            </div>                  
        {% endblock %} 
        <div id="osmedit" style="position:absolute;bottom:15px;left:5px"></div>
    </div>
{% endblock %}
