<div class="panel-group" id="accordion">
    <div class="panel panel-{{ panel ? panel : 'default' }}" {% if id %}id="{{id}}"{% endif %}>
        {% if title %}
            <div class="panel-heading">
                <h4 class="panel-title">
                    {% block title %}{{ title|raw }}{% endblock %}
                </h4>
            </div>
        {% endif %}
        <div id="collapseOne" class="panel-collapse">
            <div class="panel-body">
                {% block body %}{{ body|raw }}{% endblock %}
            </div>
        </div>
       {%  if footer %}     
       <div class="panel-footer">{% block footer %}{% endblock %}</div>
       {% endif %}
    </div>
</div>
