Options +FollowSymlinks
RewriteEngine on

RewriteRule ^miserend.sqlite3(/|)$ api.php?q=sqlite [NC]
RewriteRule ^miserend.sqlite3/v([0-9]{1,3})(/|)$ api.php?q=sqlite&v=$1 [NC]
RewriteRule ^miserend.sqlite3/v([0-9]{1,3})/([0-9]{4}-[0-9]{2}-[0-9]{2})(/|)$ api.php?q=sqlite&v=$1&datum=$2 [NC]

RewriteRule ^statisztika(/|)$ stats_updated.php [NC]
RewriteRule ^jelentes(/|)$ jelentes.php [NC]
RewriteRule ^jelentes/v([0-9]{1,3})(/|)$ jelentes.php?v=$1 [NC]
