 <img src="img/space.gif" width="5" height="8"><br>
 <table {% for setting in settings %} {{ setting|raw }}{% endfor %} class="doboz"><tr><td>
			<table width="100%">
            {% if header %}
	        <tr> 
		      <th width="5"><img src="img/space.gif" width="5" height="5"></td>
			  <th><img src="{{ design_url }}/img/negyzet_feher.gif" width="6" height="8" align="absmiddle"><img src="img/space.gif" width="5" height="5"><span class="dobozcim_feher">{{ header.content }}</span></td>
	          <th width="5"><img src="img/space.gif" width="5" height="5"></td>
		    </tr>
            {% endif %}
			<tr> 
	          <td width="5"></td>
		      <td class="alap">{{ content|raw }}</td>
			  <td width="5"></td>
	        </tr>
		  </table>
		  </td></tr></table>
