{% extends "layout.twig" %}

{% set pageTitle = 'Impresszum | VPP' %}
{% set title = 'Impresszum' %}

{% block content %}
    <h3>Üzemeltető</h3>
    <p><a href="http://vpa.hu">Virtu&aacute;lis Pl&eacute;b&aacute;nia Alap&iacute;tv&aacute;ny</a></p>
    <h3>Célunk</h3>
    <p>Önkéntes alapon szerveződő szolgáltató portál üzemeltetésével olyan kommunikációs csatorna működtetése, mely alkalmas közösségépítésre, ismeretterjesztésre, tájékoztatásra, kultúra közvetítésére és szórakoztatásra egyaránt, az evangélium szellemében, a katolikus egyház tanítása alapján.</p>
    <p>Oldalaink kizárólag önkéntesek szerkesztik, sem a közzétetelből, sem reklámból, sem az oldalon megjelenő tartalmak után semmilyen bevétel nem származik, az alapítvány nyereségre nem törekszik, munkáját nem gazdasági szolgáltatásként végzi.</p>
    <h3>Elérhetőség</h3>
    <ul>
        <li>Programozás: <a href='mailto:eleklaszlosj@gmail.com'>Elek László SJ</a> (<a href="http://jezsuita.hu">JTMR</a>)</li>
        <li><a href="https://play.google.com/store/apps/details?id=com.frama.miserend.hu">Android alkalmazás</a>: <a href="mailto:maczak.balazs@gmail.com">Maczák Balázs</a></li>
        <li><a href="https://itunes.apple.com/au/app/miserend/id967827488?mt=8">iOS alkalmazás</a>: <a href="mailto:horony.csaba@gmail.com">Horony Csaba</a></li>
        <li>Tartalmi dolgok: <a href='mailto:info@miserend.hu'>info@miserend.hu</a></li>
    </ul>
{%  endblock %}
