Miserend - Regisztráció

Kedves {% if nickname %}{{ nickname }}{% elseif nev %}{{ nev }}{% else %}{{ username }}{% endif %}!<br/>
<br/>
Köszöntünk a <a href="https://miserend.hu">Miserend.hu</a> felhasználói között!<br/>
<br/>
A belépéshez szükséges jelszó: {{ newpwd }}<br/>
A belépést követően a <a href="https://miserend.hu/user/edit">BEÁLLÍTÁSOK</a> menüben kérjük megváltoztatni a jelszót.<br>
<br/>
Miserend.hu<br/>
https://miserend.hu
