Miserend - észrevétel ({{ tid }})

<div style='display: none; visibility: hidden; color: #ffffff; font-size: 0px;'>{% include 'emails/_remark.twig' %}</div>
<strong>Kedves admin!</strong><br/>
<br/>
Az egyik templom adataihoz észrevétel érkezett.<br/>
<div style='margin: 5px 5px 5px 20px;background-color:#D1DDE9;padding:4px;'>{% include 'emails/_remark.twig' %}</div>

<strong>Köszönjük a munkádat!</strong><br/>