Miserend - észrevétel ({{ church.id }})

<strong>Kedves egyházmegyei felelős!</strong><br/>
<br/>
Az egyházmegyéhez tartozó egyik templom adataihoz észrevétel érkezett.
<div style='margin: 5px 5px 5px 20px;background-color:#D1DDE9;padding:4px;'>{% include 'emails/_remark.twig' %}</div>

<strong>Köszönjük a munkádat!</strong><br/>

<br/><br/><small>Ezt a levelet azért kaptad, mert a <a href="https://miserend.hu">Miserend</a> oldalon az egyházmegyei felelősök között szerepelsz és be van kapcsolva a személyes beállításoknál az email értesítések fogadása. 
    Ha nem kívánsz több ilyen leveleket kapni a továbbiakban, akkor belépés után a <a href="https://miserend.hu/user/edit">beállításoknál</a> kikapcsolhatod az értesítéseket. 
    Ha már nem kívánsz egyházmegyei felelősnek lenni, akkor írj az eleklaszlosj@gmail.com címre.
    Ha nem tudsz belépni, akkor <a href="https://miserend.hu/user/lostpassword{% if addressee %}?data={{ addressee.email }}{%  endif %}">kérhetsz új jelszót</a>.</small>