Miserend - Törlés

Kedves {% if nickname %}{{ nickname }}{% elseif nev %}{{ nev }}{% else %}{{ username }}{% endif %}!<br/>
<br/>
Sajnálattal tájékoztatunk, hogy a <a href="https://miserend.hu">miserend.hu</a> oldalról törölve lett regisztrációd.<br/>
<br/>
Miserend.hu<br/>
https://miserend.hu<br/><br/><br/>

