{% extends 'panel.twig' %}

{% set title = 'Már mobiltelefonra is' %}
{% set panel = 'success' %}

{% block body %}
    <center>
        {% if random(3) > 1 %}
            <a href="https://play.google.com/store/apps/details?id=com.frama.miserend.hu"  
               onclick="ga('send', 'event', 'Advertisment', 'play.google.com', 'liladoboz-kep')">
                <img alt="Töltd le a Google Play-ről" src="{{ asset('static/images/hu_generic_rgb_wo_60.png') }}" style="display:block;margin-right:auto;margin-left:auto;width:100%;max-width:172px" />
            </a>
        {% else %}   
            <a href="https://geo.itunes.apple.com/us/app/miserend/id967827488?mt=8" 
               style="display:inline-block;overflow:hidden;background:url({{ asset('static/images/badge_appstore-lrg.svg') }}) no-repeat;width:165px;height:40px;"
               onclick="ga('send', 'event', 'Advertisment', 'itunes.apple.com', 'liladoboz-kep')">               
            </a>
        {% endif %}
    </center>

{% endblock %}    
