{% import "forms.twig" as forms %}

<table class="portlet" style="width:100%;padding:0px;background-color:white">

<tr>
	<td bgcolor=#D6F8E6>
		<img src="img/minusz.jpg" class='close' style="vertical-align: middle;">
		<span class="kiscim">Periódus:</span>
	</td>
	<td bgcolor=#D6F8E6>
		{{ forms.input(nev1) }}
		{{ forms.input(nev) }}
		<img src="img/buttons/deleteup.gif" class='alap deleteperiod' style="vertical-align: middle;" height="18" title="A teljes periódus törlése">
		<img src="img/buttons/copyup.gif" class='alap copyperiod' style="vertical-align: middle;" height="18" title="Periódus másolatának létrehozása">
		{% include 'help_link.html' with {'id': 49, 'height': 18} %}
		<div style="float:right" class="portlet-header ui-icon ui-icon-arrowthick-2-n-s"></div>
		<input class="weight" name="period[{{ pkey }}][weight]" type="hidden" value="{{ pkey + 1 }}"size="2">
	</td>
</tr>
<tr>
	<td bgcolor=#efefef>
		<div class=kiscim align=right>határok:</div>
	</td>
	<td bgcolor=#efefef>
		{{ forms.input(from) }} {{ forms.select(from2) }} <span class=alap> (időszak) </span> {{ forms.select(to2)}} {{ forms.input(to) }}
		{% include 'help_link.html' with {'id': 50, 'height': 18} %}
	</td>
</tr>
<tr>
	<td colspan="2">
		<table cellpadding=4 width=100% id="period{{ pkey }}">
			{% for nap in napok %}
				{% include "admin_form_mass.html" with nap %}
			{% endfor %}
        	<tr class="addmass">
        		<td colspan="2" bgcolor=#efefef>
        			<span class="urlap button addmise" period="{{ pkey }}" last="{{ last }}">Új mise hozzáadása</span>
        		</td>
        	</tr>
        </table>
    </td>
</tr>

</table>
