{% import "forms.twig" as forms %}

<tr bgcolor="{% if nap.selected == 7 %}#E67070{% elseif nap.selected == 6 %}#F1BF8F{% else %}#efefef{% endif %}">
	<td >
		{{ forms.input(id) }}
    	{{ forms.select(nap2) }}
    	{{ forms.select(nap) }}
		{{ forms.input(ido) }}
		<img src="img/buttons/deleteup.gif" class='alap deletemise' style="vertical-align: middle;" height="18" title="Mise törlése">

	</td>
	<td>
		{{ forms.input(nyelv) }}{% include 'help_link.html' with {'id': 46, 'height': 15, 'style':'margin-right:5px'} %}
		{{ forms.input(milyen) }}{% include 'help_link.html' with {'id': 47, 'height': 15} %}<br/>
		{{ forms.input(megjegyzes) }}{% include 'help_link.html' with {'id': 48, 'height': 15} %}
	</td>
</tr>
