 <div class="keresourlap" style="float:left;width:100%;margin-bottom:5px;background-color:#EAEDF1;">
		<div style="background-color:#244C8F;height:15px">
			<img src="{{ design_url|raw }}/img/negyzet_feher.gif" width="6" height="8" align="absmiddle" style="margin-left:5px;margin-right:5px;">
			<span class="dobozcim_feher">Figyelem!</span>
		</div>
		<div style="padding-left:5px;padding-right:5px;line-height:15px;padding-top:3px">
		Mivel ez a nap komoly ünnep, ezért valószínűleg különleges miserend van életben. (Általában a vasárnapihoz nagyon hasonló.)
		</div>
</div>