<div class="alert alert-info">

<p>A „szentmisén való részvétellel kapcsolatban az általános morális elvek továbbra is érvényesek, <strong>vagyis idősebb, veszélyeztetett, illetve beteg testvéreinkre, továbbá azokra, akik kötelességüket teljesítik, a kötelezettség </strong>[a vasárnapi szentmiselátogatásra]<strong> nem vonatkozik.</strong>" <a href=https://www.magyarkurir.hu/hirek/az-mkpk-kozlemenye-veszelyhelyzet-idejere-hozott-korabbi-rendelkezesek-modositasarol>MKPK, 2020. június 14.</a></p>
<p>Részletes katolikus rendelkezéseket és kéréseket a <a href="https://www.magyarkurir.hu/cimke/jarvanyugyi-rendelkezesek">Magyar Kurír oldalán</a> lehet olvasni.</p>

</div>