<div class="alert alert-info">

    <p>„1. A vasárnapi szentmisén való részvétel kötelezettsége alól (CIC 87. k. 1. §, 1245. k.) 521/2021. sz., március 5-én adott általános felmentést jelen rendelkezésünkkel visszavonjuk.</p>
    <p>2. Az általános morális elvek továbbra is érvényesek, így aki számára élethelyzete miatt (például betegség, karantén) lehetetlen a szentmisén való személyes részvétel, az a vasárnapot továbbra is egyéni imával, a Szentírás olvasásával, zsolozsma végzésével, szentmise-közvetítésbe való bekapcsolódással vagy más módon szentelje meg."</p>
    <p  class="text-right"><a href=https://www.magyarkurir.hu/hazai/a-magyar-katolikus-puspoki-konferencia-jarvanyugyi-intezkedesei-113958>MKPK, 2021. május 7.</a></p>
<p>Részletes katolikus rendelkezéseket és kéréseket a <a href="https://www.magyarkurir.hu/cimke/jarvanyugyi-rendelkezesek">Magyar Kurír oldalán</a> lehet olvasni.</p>

</div>