{% extends 'layout_2col.html.twig' %}

    {% block content %}
        <p>Ezen az oldalon az API-val lehet kísérletezni a megfelelő url és a json kulcs-érték párosok megadásával. Az API-ról itt olvashatsz bővebben:
            <a href="https://github.com/borazslo/miserend.hu/wiki/API">https://github.com/borazslo/miserend.hu/wiki/API</a></p>
        <form  method="post" action="apitest" id="idOfForm" class="form" target="myIframe" enctype = "multipart/form-data">
    <table class="table">
        <tr>
            <td>Url</td>
            <td><input type="text" name="url" class="form-control" id="url" value="/api/v4/templomok"></td>                
        </tr>
        <tr>
            <td>Json data</td>
            <td><textarea name='json' class="form-control" rows="6">{ 
"columns" : 
 ["nev", "id"] 
}</textarea></td>
        </tr>       
        <tr>
            <td>File</td>
            <td><input type="file" name="fileToUpload"  id="fileToUpload"></td>                
        </tr>
        <tr>
            <td colspan="2">
                <button class="form-control">Gyerünk!</button>
            </td>
        </tr>
    </table>
</form>
        <br/><br/>
        <h4>Az API válasza:</h4>
     <iframe  src="" name="myIframe" id="myIframe" style="width:100%;height:100%;min-height: 500px">
       <p>iframes are not supported by your browser.</p>
     </iframe>
    {% endblock%}
