{% extends 'layout.twig' %}


    {% block content %}
        <p>Ezen az oldalon az API-val lehet kísérletezni a megfelelő url és a json kulcs-érték párosok megadásával. Az API-ról itt olvashatsz bővebben:
            <a href="https://github.com/borazslo/miserend.hu/wiki/API">https://github.com/borazslo/miserend.hu/wiki/API</a></p>
        <form  method="post" action="apitest" id="idOfForm" target="myIframe" enctype = "multipart/form-data">
    <table>
        <tr>
            <td>Url</td>
            <td><input type="text" name="url" id="url" value="/api/v4/report"></td>                
        </tr>
        <tr>
            <th colspan="2">Json</th>           
        </tr>
        <tr><td>key</td><td>value</td></tr>
        {% for i in 0..8 %}
            <tr>
                <td><input type='text' name='json[{{ i }}][key]'></td>
                <td><input type='text' name='json[{{ i }}][value]'></td>
            </tr>       
       {% endfor %}
        <tr>
            <td>File</td>
            <td><input type="file" name="fileToUpload" id="fileToUpload"></td>                
        </tr>
        <tr><td>
        <button>Gyerünk!</button>
         </td></tr>
    </table>
</form>
        <br/><br/>
        <h4>Az API válasza:</h4>
     <iframe  src="" name="myIframe" id="myIframe" style="width:100%;height:100%">
       <p>iframes are not supported by your browser.</p>
     </iframe>
    {% endblock%}
