 <style>
.nap:after{
    clear: both;
    content: "";
    display: block;
}
</style>

<script>
$(document).ready(function(){
  $('.clickme.close').html(function(){
      var $this= $(this);
      $('#'+ $this.data('id')).slideToggle();    
      return '+';
   });

  //use event delegation
  $(document).on('click','.clickme',function(){
    var $this= $(this);
    $('#'+ $this.data('id')).slideToggle('slow',function(){
      if($this.html() == '+') $this.html('-');
      else $this.html('+');     
   });
  });
});
</script>
 <div class="focim_fekete block" style="background-color: #D0D6E4;width:98.9677419355%;margin-bottom:5px">
	<img src="{{ design_url|raw }}/img/negyzet_lila.gif" width="6" height="8" align="absmiddle" style="margin-right:5px;margin-left:10px;">                 
	<span class="dobozfocim_fekete">{{ nev|raw }}</span>
	
	<div class="focim_fekete screenonly" style="float:right;margin-right:10px;height:7px;">&nbsp;
		<img src="{{ design_url|raw }}/img/lilacsik.jpg" width="170" height="7" align="absmiddle">
	</div>
</div>	
{{ alert|raw }}


  <div id="containerleft" width="49%" valign="top">{{ ismertnev|raw }}
    
    <div id="szentmisek">

  <div style="padding-left:5px;background-color:#B51A7E;"><span class="dobozcim_feher" style="margin-left:0px;">A szentmisék rendje:</span></div><div class=kicsi_kek style="margin-bottom:5px"><b>Frissítve:</b> {{ frissites|raw }}</div>

    {% for key,idoszak in miserend %}
      <div style="padding-left:5px;background-color:#B51A7E;margin-top:3px"><span class="alap clickme {% if idoszak.now %}open{% else %}close{% endif %}" data-id="idoszak_{{ key }}" >-</span><span class="dobozcim_feher" style="margin-left:5px"> {{ idoszak.nev }} </span><span class="alap" style="font-size:11px">({{ idoszak.datumtol }} - {{ idoszak.datumig }})</span></div>
      <div id="idoszak_{{ key }}">
      {% for nap in idoszak.napok %}
      <div class="nap" style="border-color: rgb(229, 234, 239);border-bottom-width: 1px;border-bottom-style: solid;margin-bottom:3px">
        <div class="alap" valign="top" style="float:left;width:60px;padding-left:5px;line-height:16px">{{ nap.nev }}</div>
        
         <div style="float:left;width:40px;text-align:right;line-height:16px" class="alap">  
          {% for mise in nap.misek %}
            {{ mise.ido }}<br/>
          {% endfor %}       
        </div>
        
        <div style="float:right;width:121px" class="alap" style="line-height:16px">  
          {% for mise in nap.misek %}
            {% if mise.milyen %}{% for milyen in mise.milyen %} 
             <img src="{{ design_url }}/img/{{ milyen.file }}" width=16 title='{{ milyen.weektext }} {{ milyen.name }}' height=16 align=absmiddle style="margin-top:0px;margin-left:1px"><span class="alap" style="display:none" id="2">{{ milyen.weektext }} {{ milyen.name }}</span>
             {% endfor %}{% endif %}  

             {% if mise.megjegyzes %}<img src={{ design_url }}/img/info2.gif border=0 title='{{ mise.megjegyzes }}' align=absmiddle width=16 height=16 style="margin-top:0px">{% endif %}       
            <br/>
          {% endfor %}       
        </div>
      </div>
        
         
      {% endfor %}  
      </div>     
    {% endfor %}       
    </div>  




      <table width="100%" border="0" cellspacing="0" cellpadding="0" id="szentmisek">
       
		<tr>
		  <td colspan="5"><span class=kicsi><font color=red>Mindent megteszünk az adatok pontossága érdekében, azonban így is előfordulhatnak eltérések! Biztos információért kérjük érdeklődj a plébánián!</font></span></td>
		</tr>
      </table>
	  {{ eszrevetel|raw }}
	  {{ androidreklam|raw }}
    </div>
<div id="containerright" valign="top" width="49%">
    {{ cim|raw }}{{ terkep|raw }}<br>
      <img src="img/space.gif" width="5" height="10"><br>
      {{ megkozelit |raw }}
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr bgcolor="#EAEDF1"> 
          <td bgcolor="#244C8F" width="5"><img src="img/space.gif" width="5" height="5"></td>
          <td bgcolor="#244C8F"><img src="{{ design_url }}/img/negyzet_feher.gif" width="6" height="8" align="absmiddle"><img src="img/space.gif" width="5" height="5"><span class="dobozcim_feher">Kapcsolat 
            - elérhetőség</span></td>
          <td width="5" bgcolor="#244C8F"><img src="img/space.gif" width="5" height="5"></td>
        </tr>
        <tr bgcolor="#F8F4F6"> 
          <td width="5" bgcolor="#EAEDF1"></td>
          <td bgcolor="#EAEDF1" class="alap">{{ kapcsolat|raw }}</td>
          <td width="5" bgcolor="#EAEDF1"></td>
        </tr>
      </table>
	  {{ misemegjegyzes|raw }}
      <img src="img/space.gif" width="5" height="10"><br>
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr bgcolor="#EAEDF1"> 
          <td bgcolor="#F8F4F6" width="5"><img src="img/space.gif" width="5" height="5"></td>
          <td bgcolor="#F8F4F6">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td><img src="{{ design_url }}/img/negyzet_lila.gif" width="6" height="8" align="absmiddle"><img src="img/space.gif" width="5" height="5"><span class="dobozcim_kek">Szomszédos 
                  templomok </span></td>
                <td>
                  <div align="right"><img src="{{ design_url }}/img/lilapontok_lila.jpg" width="43" height="6"></div>
                </td>
              </tr>
            </table>
          </td>
          <td width="5" bgcolor="#F8F4F6"><img src="img/space.gif" width="5" height="5"></td>
        </tr>
      </table>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr bgcolor="#FFFFFF"> 
		<td width="1" bgcolor="#EAEDF1"><img src=img/space.gif width=1 height=5></td>
          <td width="4" bgcolor="#FFFFFF"><img src=img/space.gif width=4 height=5></td>
          <td bgcolor="#FFFFFF"><b><span class="alap"><i>Legközelebbi:</i></span></b><br>
            {{ sz1|raw }}<br>
            <b><span class="alap"><i>10 km-en belül:</i></span></b><br>
            {{ sz2 |raw }}</td>
          <td width="4" bgcolor="#FFFFFF"><img src=img/space.gif width=4 height=5></td>
          <td width="1" bgcolor="#EAEDF1"><img src=img/space.gif width=1 height=5></td>
        </tr>
		<tr>
		<td colspan="5" bgcolor="#EAEDF1" height="1"><img src=img/space.gif width="5" height="1"></td>
		</tr>
</table>
	
    </div>
  
  
<table width="100%" border="0" cellspacing="0" cellpadding="0">  
  <tr> 
    <td colspan="3" height="10"><img src="img/space.gif" width="10" height="10"></td>
  </tr>
  <tr> 
    <td colspan="3">{{ kepek|raw }}</td>
  </tr>
  <tr> 
    <td colspan="3" height="10"><img src="img/space.gif" width="10" height="10"></td>
  </tr>
  <tr>
    <td colspan="3">
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr bgcolor="#EAEDF1"> 
          <td bgcolor="#D0D6E4" width="5"><img src="img/space.gif" width="5" height="5"></td>
          <td bgcolor="#D0D6E4">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td><img src="{{ design_url }}/img/negyzet_lila.gif" width="6" height="8" align="absmiddle"><img src="img/space.gif" width="5" height="5"><span class="dobozcim_fekete">Bemutatkozás</span></td>
                <td>
                  <div align="right"><span class="dobozfocim_fekete"><img src="{{ design_url }}/img/lilacsik.jpg" width="170" height="7" align="absmiddle"></span></div>
                </td>
              </tr>
            </table>
          </td>
          <td width="5" bgcolor="#D0D6E4"><img src="img/space.gif" width="5" height="5"></td>
        </tr>
        <tr bgcolor="#F8F4F6"> 
          <td width="5" bgcolor="#F3F3F5"></td>
          <td bgcolor="#F3F3F5">
		  {{ jotudni |raw }}
		  {{ leiras		|raw }}
		  </td>
          <td width="5" bgcolor="#F3F3F5"></td>
        </tr>
      </table>
    </td>
  </tr>
</table>