{% import "forms.twig" as forms %}

<style>
.block:after{
    clear: both;
    content: "";
    display: block;
}
</style>
 <div class="focim_fekete block" style="background-color: #D0D6E4;width:98.9677419355%;margin-bottom:5px">
	<img src="{{ design_url|raw }}/img/negyzet_lila.gif" width="6" height="8" align="absmiddle" style="margin-right:5px;margin-left:10px;">                 
	<span class="dobozfocim_fekete">Keresés</span>
	
	<div class="focim_fekete screenonly" style="float:right;margin-right:10px;height:7px;">&nbsp;
		<img src="{{ design_url|raw }}/img/lilacsik.jpg" width="170" height="7" align="absmiddle">
	</div>
</div>	
{{ alert|raw }}

<div class="block">

	<div class="miseurlap" style="width:100%;float:left">
    <form method=post name="kereses" id="kereses">
    {{ forms.input(searchform.m_op) }}{{ forms.input(searchform.m_id) }}
    <div id="form_church">
      <div class="kiscim" style='margin-left:5px;'>Hol:
        <div id="form_church_getdetails" style="float:right" class="link kicsi">[részletek]</div>
        <br/>{{ forms.input(searchform.kulcsszo) }}
      </div>
      <div id="form_church_details" style="display:none">
        <div class=alap style='margin-left:5px;margin-top:6px'>- település:</div>{{ forms.input(searchform.varos) }}
        <div class=alap style='margin-left:5px;margin-top:6px;width:100%'>- egyházmegye: </div>{{ forms.select(searchform.ehm) }}<br/>
        <div class=alap id="espkerlabel" style='margin-left:5px;margin-top:6px;display:none'>- esperes kerület: </div><br/>
              {% for key, item in searchform.espker %}{{ forms.select(item) }}{% endfor %}
        <div class=alap style='margin-left:5px;margin-top:0px'>- csak görög katolikus: {{ forms.input(searchform.gorog) }}</div>
      </div>

    </div>
    <div id="form_mass" style="margin-top:12px">
      <div class="kiscim" style='margin-left:5px;'>Mikor:
        <div id="form_mass_getdetails" style="float:right" class="link kicsi">[részletek]</div>
        <br/>{{ forms.select(searchform.mikor) }} {{ forms.input(searchform.mikordatum) }}
        <br/>{{ forms.select(searchform.mikor2) }} {{ forms.input(searchform.mikorido) }}
      </div>
      <div id="form_mass_details" style="display:none">
        <div class=alap style='margin-left:5px;margin-top:6px'>- nyelv:</div>{{ forms.select(searchform.nyelv) }}
        <div class=alap style='margin-left:5px;margin-top:6px'>- zene: </div>
              {% for key, item in searchform.zene %}{{ forms.input(item) }}<br/>{% endfor %}
        <div class=alap style='margin-left:5px;margin-top:6px'>- korosztály: </div>
              {% for key, item in searchform.kor %}{{ forms.input(item) }}<br/>{% endfor %}
        <div class=alap style='margin-left:5px;margin-top:6px'>- rítus: </div>{{ forms.select(searchform.ritus) }}
        <div class=alap style='margin-left:5px;margin-top:6px'>- igeliturgiák is: {{ forms.input(searchform.ige) }}</div>
      </div>
    </div>

  <div align=center style="margin-top:12px">
    <input type=submit name="misekereses" value="Mise keresése" class=keresourlap>
    <input type=submit name="templomkereses" value="Templom keresése" class=keresourlap>
  </div>
  
  </form>
  </div>
	<!--<div align="center" style="margin-top:5px;width:49%;float:left">{{ androidreklam|raw }}</div>-->
 </div>
  
<div style="background-color:#CCCCCC;height:3px;margin-top:10px;margin-bottom:10px;width:100%"></div>
<div class="screenonly">{{ kepek|raw }}</div>
 <!--
<table width="100%" border="0" cellspacing="0" cellpadding="0">   
  <tr> 
    <td colspan="3"><img src="{{ design_url|raw }}/img/negyzet_lila.gif" width="6" height="8" align="absmiddle"><img src="img/space.gif" width="5" height="5"><span class=dobozfocim_kek>Mai ünnep - üzenet</span></td>
  </tr>
  <tr valign="top"> 
    <td colspan="3" height="10"> 
      <table width="180" border="0" cellspacing="0" cellpadding="0" align="right">
	  <tr> 
        <td width="1" bgcolor="#EAEDF1" colspan="5"><img src=img/space.gif width=5 height=1></td>
	  </tr>
        <tr> 
          <td width="1" bgcolor="#EAEDF1"><img src=img/space.gif width=1 height=5></td>
          <td width="4" bgcolor="#F8F4F6"><img src=img/space.gif width=4 height=5></td>
          <td bgcolor="#FFFFFF">
            <table bgcolor="#F8F4F6" width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr> 
                <td><img src="{{ design_url|raw }}/img/negyzet_lila.gif" width="6" height="8" align="absmiddle"><img src="img/space.gif" width="5" height="5"><span class="dobozcim_kek">Napi 
                  igehelyek </span></td>
                <td> 
                  <div align="right"><img src="{{ design_url|raw }}/img/lilapontok_lila.jpg" width="43" height="6"></div>
                </td>
              </tr>
            </table>
            </td>
          <td width="4" bgcolor="#F8F4F6"><img src=img/space.gif width=4 height=5></td>
          <td width="1" bgcolor="#EAEDF1"><img src=img/space.gif width=1 height=5></td>
        </tr>
		<tr> 
          <td width="1" bgcolor="#EAEDF1"><img src=img/space.gif width=1 height=5></td>
          <td width="4" bgcolor="#FFFFFF"><img src=img/space.gif width=4 height=5></td>
          <td bgcolor="#FFFFFF">
            {{ igehelyek|raw }}
            </td>
          <td width="4" bgcolor="#FFFFFF"><img src=img/space.gif width=4 height=5></td>
          <td width="1" bgcolor="#EAEDF1"><img src=img/space.gif width=1 height=5></td>
        </tr>
        <tr> 
          <td colspan="5" bgcolor="#EAEDF1" height="1"><img src=img/space.gif width="5" height="1"></td>
        </tr>
      </table>
      {{ uzenet|raw }}</td>
  </tr>
  <tr> 
    <td colspan="3" height="10"><img src="img/space.gif" width="10" height="10"></td>
  </tr>
  <tr> 
    <td colspan="3"> 
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr bgcolor="#EAEDF1"> 
          <td bgcolor="#D0D6E4" width="5"><img src="img/space.gif" width="5" height="5"></td>
          <td bgcolor="#D0D6E4"> 
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr> 
                <td><img src="{{ design_url|raw }}/img/negyzet_lila.gif" width="6" height="8" align="absmiddle"><img src="img/space.gif" width="5" height="5"><span class="dobozcim_fekete">Napi 
                  elm&eacute;lked&eacute;s </span></td>
                <td> 
                  <div align="right"><span class="dobozfocim_fekete"><img src="{{ design_url|raw }}/img/lilacsik.jpg" width="170" height="7" align="absmiddle"></span></div>
                </td>
              </tr>
            </table>
          </td>
          <td width="5" bgcolor="#D0D6E4"><img src="img/space.gif" width="5" height="5"></td>
        </tr>
        <tr bgcolor="#F8F4F6"> 
          <td width="5" bgcolor="#F3F3F5"></td>
          <td bgcolor="#F3F3F5">{{ elmelkedes|raw }}</td>
          <td width="5" bgcolor="#F3F3F5"></td>
        </tr>
      </table>
    </td>
  </tr>
</table>-->

