<table width="100%" border="0" cellspacing="0" cellpadding="0"><tr><td>
	  <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr> 
          <td width="10" bgcolor="#D0D6E4"><img src="img/space.gif" width="10" height="10"></td>
          <td bgcolor="#D0D6E4"> 
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr> 
                <td><img src="{{ design_url|raw }}/img/negyzet_lila.gif" width="6" height="8" align="absmiddle"> 
                  <img src="img/space.gif" width="5" height="5"><span class="dobozfocim_fekete">{{ focim|raw }}</span></td>
                <td> 
                  <div align="right"><span class="dobozfocim_fekete"><img src="{{ design_url|raw }}/img/lilacsik.jpg" width="170" height="7" align="absmiddle"></span></div>
                </td>
              </tr>
            </table>
          </td>
          <td bgcolor="#D0D6E4" width="10"><img src="img/space.gif" width="10" height="10"></td>
        </tr>
		<tr>
		  <td colspan="3" height="5"><img src="img/space.gif" width="10" height="5"></td>
		</tr></table>
		</td>
		</tr>
		<tr>
		  <td><table width="232" border="0" cellspacing="0" cellpadding="0" align="right">
        <tr bgcolor="#EAEDF1"> 
          <td bgcolor="#244C8F" width="5"><img src="img/space.gif" width="5" height="5"></td>
          <td bgcolor="#244C8F"><img src="{{ design_url|raw }}/img/negyzet_feher.gif" width="6" height="8" align="absmiddle"><img src="img/space.gif" width="5" height="5"><span class="dobozcim_feher">Új keresés</span></td>
          <td width="5" bgcolor="#244C8F"><img src="img/space.gif" width="5" height="5"></td>
        </tr>
        <tr bgcolor="#F8F4F6"> 
          <td width="5" bgcolor="#EAEDF1"></td>
          <td bgcolor="#EAEDF1" class="alap">{{ templomurlap|raw }}</td>
          <td width="5" bgcolor="#EAEDF1"></td>
        </tr>
      </table>{{ content|raw }}</td>
		</tr>
      </table>

