<style>
.block:after{
    clear: both;
    content: "";
    display: block;
}
</style>
 
 <div class="focim_fekete block" style="background-color: #D0D6E4;width:98.9677419355%;margin-bottom:5px">
	<img src="{{ design_url|raw }}/img/negyzet_lila.gif" width="6" height="8" align="absmiddle" style="margin-right:5px;margin-left:10px;">                 
	<span class="dobozfocim_fekete">Szentmise kereső</span>
	
	<div class="focim_fekete screenonly" style="float:right;margin-right:10px;height:7px;">&nbsp;
		<img src="{{ design_url|raw }}/img/lilacsik.jpg" width="170" height="7" align="absmiddle">
	</div>
</div>	

<div class="block">
	<div class="miseurlap" style="width:49%;float:left">{{ miseurlap|raw }}</div>
	<div class="keresourlap" style="float:right;width:49%;background-color:#EAEDF1;">
		<div style="background-color:#244C8F;height:15px">
			<img src="{{ design_url|raw }}/img/negyzet_feher.gif" width="6" height="8" align="absmiddle" style="margin-left:5px;margin-right:5px;">
			<span class="dobozcim_feher">Templom kereső</span>
		</div>
		<div style="padding-left:5px;padding-right:5px;line-height:29px">{{ templomurlap|raw }}</div>
	</div>
	<div align="center" style="margin-top:5px;width:49%;float:right">
		{{ androidreklam|raw }}
	</div>
 </div>
  
<div style="background-color:#CCCCCC;height:3px;margin-top:10px;margin-bottom:10px;width:100%"></div>
<div class="screenonly">{{ kepek|raw }}</div>
 <!--
<table width="100%" border="0" cellspacing="0" cellpadding="0">   
  <tr> 
    <td colspan="3"><img src="{{ design_url|raw }}/img/negyzet_lila.gif" width="6" height="8" align="absmiddle"><img src="img/space.gif" width="5" height="5"><span class=dobozfocim_kek>Mai ünnep - üzenet</span></td>
  </tr>
  <tr valign="top"> 
    <td colspan="3" height="10"> 
      <table width="180" border="0" cellspacing="0" cellpadding="0" align="right">
	  <tr> 
        <td width="1" bgcolor="#EAEDF1" colspan="5"><img src=img/space.gif width=5 height=1></td>
	  </tr>
        <tr> 
          <td width="1" bgcolor="#EAEDF1"><img src=img/space.gif width=1 height=5></td>
          <td width="4" bgcolor="#F8F4F6"><img src=img/space.gif width=4 height=5></td>
          <td bgcolor="#FFFFFF">
            <table bgcolor="#F8F4F6" width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr> 
                <td><img src="{{ design_url|raw }}/img/negyzet_lila.gif" width="6" height="8" align="absmiddle"><img src="img/space.gif" width="5" height="5"><span class="dobozcim_kek">Napi 
                  igehelyek </span></td>
                <td> 
                  <div align="right"><img src="{{ design_url|raw }}/img/lilapontok_lila.jpg" width="43" height="6"></div>
                </td>
              </tr>
            </table>
            </td>
          <td width="4" bgcolor="#F8F4F6"><img src=img/space.gif width=4 height=5></td>
          <td width="1" bgcolor="#EAEDF1"><img src=img/space.gif width=1 height=5></td>
        </tr>
		<tr> 
          <td width="1" bgcolor="#EAEDF1"><img src=img/space.gif width=1 height=5></td>
          <td width="4" bgcolor="#FFFFFF"><img src=img/space.gif width=4 height=5></td>
          <td bgcolor="#FFFFFF">
            {{ igehelyek|raw }}
            </td>
          <td width="4" bgcolor="#FFFFFF"><img src=img/space.gif width=4 height=5></td>
          <td width="1" bgcolor="#EAEDF1"><img src=img/space.gif width=1 height=5></td>
        </tr>
        <tr> 
          <td colspan="5" bgcolor="#EAEDF1" height="1"><img src=img/space.gif width="5" height="1"></td>
        </tr>
      </table>
      {{ uzenet|raw }}</td>
  </tr>
  <tr> 
    <td colspan="3" height="10"><img src="img/space.gif" width="10" height="10"></td>
  </tr>
  <tr> 
    <td colspan="3"> 
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr bgcolor="#EAEDF1"> 
          <td bgcolor="#D0D6E4" width="5"><img src="img/space.gif" width="5" height="5"></td>
          <td bgcolor="#D0D6E4"> 
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr> 
                <td><img src="{{ design_url|raw }}/img/negyzet_lila.gif" width="6" height="8" align="absmiddle"><img src="img/space.gif" width="5" height="5"><span class="dobozcim_fekete">Napi 
                  elm&eacute;lked&eacute;s </span></td>
                <td> 
                  <div align="right"><span class="dobozfocim_fekete"><img src="{{ design_url|raw }}/img/lilacsik.jpg" width="170" height="7" align="absmiddle"></span></div>
                </td>
              </tr>
            </table>
          </td>
          <td width="5" bgcolor="#D0D6E4"><img src="img/space.gif" width="5" height="5"></td>
        </tr>
        <tr bgcolor="#F8F4F6"> 
          <td width="5" bgcolor="#F3F3F5"></td>
          <td bgcolor="#F3F3F5">{{ elmelkedes|raw }}</td>
          <td width="5" bgcolor="#F3F3F5"></td>
        </tr>
      </table>
    </td>
  </tr>
</table>-->

