<p><strong>A vasárnapi szentmisén való részvétel kötelezettsége alóli felmentés visszavonásig érvényes</strong>
        az <a href="https://www.magyarkurir.hu/hazai/az-mkpk-kozlemenye-az-uj-jarvanyugyi-szabalyok-kapcsan">MKPK rendelkezése értelmében</a> a még mindig fennálló veszélyhelyzetre tekintettel.</p>
<p>Kérjük mindenki tartsa be <a href="https://koronavirus.gov.hu/">az illetékes járványügyi hatóságok előírásait és javaslatait</a>. Az az akik csak tehetjük maradjunk otthon!</p>
<p>A nyilvános szentmisék valamint a szentségek kiszolgáltatásának lehetőségeiről a megyéspüspökök külön-külön rendelkeznek. 
    Kérjük, mindenki kövesse figyelemmel saját egyházmegyéje híreit. Az egyes egyházmegyék rendelkezései összegyűjtve megtalálhatóak a <a href="https://www.magyarkurir.hu/cimke/jarvanyugyi-rendelkezesek">Magyar Kurír</a> oldalán.</p>
<br/>
<p>Az elérhető szentmiseközvetítésekről összefoglalóan a <a href="https://www.magyarkurir.hu/hirek/hol-es-mikor-kovetheto-elo-szentmise-kozvetites-osszegyujtottuk-lehetosegeket">Magyar Kurír oldalán</a> olvashat, vagy segítségére lehet a <a href="https://www.facebook.com/groups/845140862575770/">Keresztény közvetítések gyűjteménye</a> facebook csoport.
