{% import "forms.twig" as forms %}

{% extends "layout.twig" %}

{% set pageTitle = 'HIBA! - Miserend' %}
{% set title = '<strong>Hiba történt:</strong> ' ~ errorMessage %}

{% set columns2 = true %}


{% block content %}    	
	<p>{{ errorTrace|raw }}</p>
{%  endblock %}

{% block leftsidebar %}{% endblock %}
