{% import "forms.twig" as forms %}

{% extends 'layout_2col.html.twig' %}

{% set pageTitle = 'HIBA! - Miserend' %}
{% set title = '<strong>Hiba történt:</strong> ' ~ errorMessage %}



{% block content %}    	
	<p>{{ errorTrace|raw }}</p>
{%  endblock %}

{% block leftsidebar %}{% endblock %}
