{% extends "layout.twig" %}

{% set pageTitle = "Közlemény | Miserend" %}
{% set title = "Imáinkkal és példánkkal erősítsük a bizalmat Istenben és egymásban" %}


{% block content %}

    <div class="alert alert-primary" role="alert">
        {%  include "covid19.twig" %}
    </div>
        
{% endblock %}
