{% extends 'base.html.twig' %}


{% block container_col_attr -%}
    col-md-9
{%- endblock %}


{% block container_col %}
    <div class="col-md-3  col-sm-3 church-site-left-sidebar">
        {% block left_sidebar %}
            {#                    {% if chat|default(false) %}{% include 'chat/chatbox.twig' with chat %}{% endif %}#}
            {#                    {% if mychurches|default(false) %}{% include "panel.twig" with {'title':'Módosítás','body': mychurches|raw } %}{% endif %}#}

            {% if show_self_advertistment_panel|default(true) %}
                {% include 'panel/selfadvertisement.html.twig' %}
            {% endif %}

        {% endblock %}
    </div>
    <div class="{{ block('container_col_attr') }} col-sm-6 church-site-main-content">
        {% block pageHeader %}
            <div class="page-header">
                <h2>{{ title|raw }}</h2>
            </div>
        {% endblock %}

        {% block messages %}
            {% if messages|default([])|length > 0 %}
                <div id="messages" style="margin-bottom:6px">
                    {% for message in messages %}
                        {% include 'message.twig' with message %}
                    {% endfor %}
                </div>
            {% endif %}
        {% endblock %}
        {% block content %}{% endblock %}
    </div>
{% endblock %}
