<form method=post name=loginurlap><input type=hidden name=kilep value=0>
<table cellpadding=0 cellspacing=0 border=0  height=44 style="margin-left:5px;margin-top:8px">
    <tr>
        <td style="padding-left:3px;padding-right:3px;line-height:18px">
            <span class=loginlink>Felhasználónév:</span><br/>
            <input type=text name=login value='{{ login }}' size=14 class=loginurlap>
        </td>
        
        <td style="padding-left:3px;padding-right:3px;line-height:18px">
            <span class=loginlink>Jelszó:</span><br/>
            <input type=password name=passw size=14 class=loginurlap>
        </td>
        
        <td style="padding-left:3px;padding-right:3px;line-height:18px">
            <br/><input type=submit value="Belépés" style="background-color:#053D78;color:#ffffff">
        </td>	
    </tr>

    <tr>
        <td style="padding-left:3px;padding-right:3px;line-height:18px">
            <a href="?m_id=28&fm=11" class="loginlink elotte">Regisztráció</a>
        </td>
        <td colspan="2" style="padding-left:3px;padding-right:3px;line-height:18px">
            <a href="?m_id=28&m_op=jelszo" class="loginlink elotte" title='Jelszó emlékeztető'>Jelszó emlékeztető</a>
        </td>
    </tr>

    {% if (login) %}
        <tr>
            <td colspan="3" style="padding-left:3px;padding-right:3px;line-height:18px">
                <span class=loginlink><font color=red>{{ loginhiba }}</font></span>
            </td>
        </tr>
    {% endif %}
</table>
</form>