<table cellpadding=0 cellspacing=0  height=44 width=320>
    <tr>
        <td>
            <div align=left class=kicsi><img src=img/space.gif width=4 height=4>Belépve:</div>
            <div align=center class=alcim>{{ u_login }}</div></td>
        <td><img src=img/space.gif width=10 height=2><br>
            <a href=?m_id=28&m_op=add{{ linkveg }} class=loginlink><img src={{ design_url }}/img/negyzet.jpg border=0 align=absmiddle> Beállítások</a><br><a href=?kilep=1{{ linkveg }} class=loginlink><img src={{ design_url }}/img/negyzet.jpg border=0 align=absmiddle> Kilépés</a></td>
     </tr>
</table>