<table cellpadding=0 cellspacing=0  height=44 width=310 style="margin-left:5px;margin-top:8px">
    <tr>
        <td style="padding-left:3px;padding-right:3px;line-height:18px">
            <div align=left class=kicsi>Belépve:</div>
            <div align=center class=alcim>{{ u_login }}</div></td>
        <td style="padding-left:3px;padding-right:3px;line-height:18px">
            <a href="?m_id=28&m_op=add" class="loginlink elotte">Beállítások</a><br/>
            <a href=?kilep=1{{ linkveg }} class="loginlink elotte">Kilépés</a></td>
     </tr>
</table>