{% import "forms.twig" as forms %}

{% extends "osm.html" %}

{% block script %}
     <script src="http://openlayers.org/api/OpenLayers.js"></script>
        <script type="text/javascript">
            var lat={{ templom.lat }};
            var lon={{ templom.lng }};
            var zoom=17;
            var map;
 
            function init(){
                map = new OpenLayers.Map ("map", {
                controls:[
                    new OpenLayers.Control.Navigation(),
                    new OpenLayers.Control.PanZoomBar(),
                    new OpenLayers.Control.LayerSwitcher(),
                    new OpenLayers.Control.Attribution()],
                    maxExtent: new OpenLayers.Bounds(-20037508.34,-20037508.34,20037508.34,20037508.34),
                    maxResolution: 156543.0399,
                    numZoomLevels: 19,
                    units: 'm',
                    projection: new OpenLayers.Projection("EPSG:900913"),
                    displayProjection: new OpenLayers.Projection("EPSG:4326")
                } );
 
 
                 //Initialise the vector layer using OpenLayers.Format.OSM
                 // var myStyle = {fill: true,fillColor: "#ff0000"};
                var layer = new OpenLayers.Layer.Vector("Polygon", {
                    strategies: [new OpenLayers.Strategy.Fixed()],
                    protocol: new OpenLayers.Protocol.HTTP({
                        //url: "http://www.openstreetmap.org/api/0.6/{{ attribute(osm, '@type') }}/{{ attribute(osm, '@id') }}/full",   //<-- relative or absolute URL to your .osm file
                        url: "dev/test.osm",
                        format: new OpenLayers.Format.OSM()
                    }),
                    //style: myStyle,
                    projection: new OpenLayers.Projection("EPSG:4326")
                });
 

                map.addLayers([layer]);

                map.addLayer(new OpenLayers.Layer.OSM());
 
                var lonLat = new OpenLayers.LonLat(lon, lat).transform(new OpenLayers.Projection("EPSG:4326"), new OpenLayers.Projection("EPSG:900913"));
                var lonLat2 = new OpenLayers.LonLat({{ attribute(osm, '@lon') }}, {{ attribute(osm, '@lat') }}).transform(new OpenLayers.Projection("EPSG:4326"), new OpenLayers.Projection("EPSG:900913"));
 
                map.setCenter (lonLat, zoom);
 

                 var markers = new OpenLayers.Layer.Markers( "Markers" );
                 map.addLayer(markers);
                var size = new OpenLayers.Size(21,21);
                  var offset = new OpenLayers.Pixel(-(size.w), -size.h);
                  var icon = new OpenLayers.Icon('http://miserend.hu/img/jelzes1.png',size,offset);
                  var icon2 = new OpenLayers.Icon('http://miserend.hu/img/jelzes3.png',size,offset);

                  markers.addMarker(new OpenLayers.Marker(lonLat,icon));
                  markers.addMarker(new OpenLayers.Marker(lonLat2,icon2));

                  map.zoomToExtent(markers.getDataExtent());

                  
 
              
     
            }
        </script>

  <script>
  		$(document).ready( function () {
           init();
  		} );
  </script>
  <style>
    .header {
      padding:1px;text-align:center;background-color:#244C8F;
      color:white;
    }
    .urlap {
      width: 100%;
      height: 17px;
    }
    a {
    color:white;weight:200

    }
  </style>
{% endblock %}

{% block content %}
    {% if  error %}
      <div style="padding:20px;text-align:center;width:65%;overflow:auto;float:left">{{ error|raw }}</div>
    {% endif %}


  <div id="templom" style="width:35%;margin-top:5px;padding:3px;float:left">
    <div class="header"><a href="http://miserend.hu/?templom={{ templom.id }}">?templom={{ templom.id }}</a></div>
    {% if not error %}
     <div style="display:table;width:100%">
      {% for key,value in templomform %}
        <div style="display:table-row">
          <div style="display:table-cell;text-align:right;padding:5px;width:160px">
            {{ key }}:
          </div>
          <div style="display:table-cell;padding:5px">
            <div style="max-height:114px;overflow:auto;">{{ value|raw }}</div>
          </div>
        </div>
      {% endfor %}
      </div>
    {% endif %}
  </div>

  <div id="map" style="width:28%;float:right;height:80%" class="smallmap"></div>

  <div id="osm" style="width:35%;margin-top:5px;padding:3px;float:right">
      <div class="header"><a href="http://openstreetmap.org/{{ attribute(osm, '@type') }}/{{ attribute(osm, '@id') }}">{{ attribute(osm, '@type') }}/{{ attribute(osm, '@id') }}</a></div>

      <div style="display:table;width:100%">
      {% for input in osmform %}
        <div style="display:table-row">
          <div style="display:table-cell;text-align:right;padding:5px;width:160px">
            <a style="color:black" href="http://wiki.openstreetmap.org/wiki/Key:{{ input.name }}?uselang=en-US">{{ input.name }}</a>:
          </div>
          <div style="display:table-cell;padding:5px">
            {{ forms.input(input) }}
          </div>
        </div>
      {% endfor %}
      </div>


  </div>

  <div id="menu" style="padding:1px;text-align:center;background-color:#244C8F;clear:both">
      {% for item in prevnext %}[<a style="" href="{{ base }}{{ item[0] }}">{{ item[1] }}</a>]{% endfor %}
</div>


{% endblock %}