<html>
<head>
<title>{{ pagetitle }}</title>
{% if meta %}{% for m in meta %}{{ m|raw }}{% endfor %}{% endif %}
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<meta name="description" content="Magyarország és a Kárpát-medence magyar nyelvű katolikus templomainak és szentmiséinek gyűjtőhelye.">
<meta name="keywords" content="katolikus, keresztény, templom, kápolna, miséhőzhely, mise, szentmise, miserend, liturgia, vasárnap, hétköznap, térkép">
<meta name="author" content="miserend.hu">

<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" href="templates/style.css" type="text/css">
<link rel="stylesheet" href="templates/newstyle.css" type="text/css">
{% block extracss %}{% endblock %}
{% if script %}{% for s in script %}{{ s|raw }}{% endfor %}{% endif %}
</head>

<body bgcolor="#FFFFFF" text="#000000" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" {{ body.onload|raw }}>
{% block container %}
<div id="container">

{% block header %}
<div class="csik" id="felsocsik"></div>

<div id="header">
    <div id="jobblogo">
        <a href="http://plebania.net" title="Virtuális Plébánia">
          <img src="{{ design_url }}/img/jobblogo.jpg" width="74" height="68" style="margin-right:auto;margin-left:auto;display:block">
        </a>
    </div>

    <div id="ballogo">
      <a href="?"><img src="{{ design_url }}/img/ballogo.jpg" width="300" height="44" border="0" title="Főoldal"></a>
      <img src="{{ design_url }}/img/elvalasztocsik.jpg" width="2" height="44">
    </div>    
{{ login.uid }}
    <div id="login">
      {% if login.loggedin %}
        {% include 'login_loggedin.html' with login.vars %}
      {% else %}
        {% include 'login_login.html' with login.vars %}
      {% endif %}          
    </div>           
</div>

<div class="csik" id="elvalasztocsik"></div>
{% endblock %}
        
    <div class="center">
            {% block content %}{{ content|raw }}{% endblock %}
    </div>
    
    <div class="leftside">
        {% for block in sidebar.left.blocks %}{% include 'block.html' with block %}{% endfor %}
        <div class="screenonly"><iframe src="http://hirporta.hu/hirek.php?limit=5" width=100% height=280 frameborder=0 scrolling=no></iframe></div>
    </div>

    {% block right %}
    <div class="rightside">
        {% for block in sidebar.right.blocks %}{% include 'block.html' with block %}{% endfor %}
        <a href="http://www.szentsegimadas.hu" target="_blank"><img src="img/banner/szentsegimadas-banner.jpg" border="0" style="display:block;margin-right:auto;margin-left:auto"/></a>
    </div>
    {% endblock %}    
        

<div id="footer">
    <div class="leftside footer"><div align=center>{{ bottom.left.content|raw }}</div></div>
    <div class="center footer"><div align=center><a href="http://plebania.net" class="implink kiscim">Virtuális Plébánia</a></div></div>
    <div class="rightside footer"><div align=center>{{ bottom.right.content|raw }}<a href="?template=templates2" class="implink kiscim">*</a></div></div>
</div>
<div class="csik" id="alsocsik"></div>
</div>
{% endblock %}
{% block analytics %}
<script type="text/javascript">
	(function(i,s,o,g,r,a,m){i["GoogleAnalyticsObject"]=r;i[r]=i[r]||function(){
	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,"script","//www.google-analytics.com/analytics.js","ga");

  ga('_setCustomVar',1,'design','orig',2);

  ga("create", "UA-3987621-4", "miserend.hu");
  ga("send", "pageview");

</script>
{% endblock %}
</body>
</html>
