<html>
<head>
<title>{{ pagetitle }}</title>
{% if meta %}{% for m in meta %}{{ m|raw }}{% endfor %}{% endif %}
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<meta name="description" content="Magyarország és a Kárpát-medence magyar nyelvű katolikus templomainak és szentmiséinek gyűjtőhelye.">
<meta name="keywords" content="katolikus, keresztény, templom, kápolna, miséhőzhely, mise, szentmise, miserend, liturgia, vasárnap, hétköznap, térkép">
<meta name="author" content="miserend.hu">

<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" href="templates/style.css" type="text/css">
<link rel="stylesheet" href="templates/newstyle.css" type="text/css">
{% block extracss %}{% endblock %}
{% if script %}{% for s in script %}{{ s|raw }}{% endfor %}{% endif %}
</head>

<body bgcolor="#FFFFFF" text="#000000" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" {{ body.onload|raw }}>
{% block container %}
<div id="container">

{% block header %}
<div class="csik" id="felsocsik"></div>
<div id="header" class="screenonly">
    <div id="jobblogo"><img src="{{ design_url }}/img/jobblogo.jpg" width="84" height="78" style="margin-right:auto;margin-left:auto;display:block"></div>
    
      <table width="81.935483871%" border="0" cellspacing="0" cellpadding="0" background="{{ design_url }}/img/fenthatter.jpg" height="34">
        <tr>
          <td width="145"><div align="center" class="nevnap">{{ nevnap|raw }}</div></td>
          <td width="486" valign="top">{% if mainmenu.top %}{% include 'mainmenu.html' with mainmenu.top %}{% endif %}</td>
        </tr>
      </table>
               
          <div id="ballogo"><!--<td width="300" height="44">-->
            <a href=?{{ global.linkveg|raw }}><img src="{{ design_url }}/img/ballogo.jpg" width="300" height="44" border="0" title="Főoldal"></a>
            <img src="{{ design_url }}/img/elvalasztocsik.jpg" width="2" height="44">
          </div>
          <!--<td width="2"></td>-->
          
          <div id="login">
            <img src="{{ design_url }}/img/elvalasztocsik.jpg" width="2" height="44" style="float:right">
          {% if login.loggedin %}
            {% include 'login_loggedin.html' with login.vars %}
          {% else %}
            {% include 'login_login.html' with login.vars %}
          {% endif %}          
          </div>     
          
</div>
<div id="header" class="mobileonly">
    <div id="jobblogo"><img src="{{ design_url }}/img/jobblogo.jpg" width="84" height="78" style="margin-right:auto;margin-left:auto;display:block"></div>

          <div id="ballogo"><!--<td width="300" height="44">-->
            <a href=?{{ global.linkveg|raw }}><img src="{{ design_url }}/img/ballogo.jpg" height="44" border="0" title="Főoldal" style="max-width:300px;width:100%"></a>
            <img src="{{ design_url }}/img/elvalasztocsik.jpg" width="2" height="44">
          </div>
          <!--<td width="2"></td>-->
          
          <div id="login">
            <img src="{{ design_url }}/img/elvalasztocsik.jpg" width="2" height="44" style="float:right">
          {% if login.loggedin %}
            {% include 'login_loggedin.html' with login.vars %}
          {% else %}
            {% include 'login_login.html' with login.vars %}
          {% endif %}          
          </div>     
          
</div>
<div class="csik" id="elvalasztocsik"></div>
{% endblock %}
        
    <div class="center">
        {{ content|raw }}
    </div>
    
    <div class="leftside">
        {% for block in sidebar.left.blocks %}{% include 'block.html' with block %}{% endfor %}
        <div class="screenonly"><iframe src="http://hirporta.hu/hirek.php?limit=5" width=100% height=280 frameborder=0 scrolling=no></iframe></div>
    </div>

    {% block right %}
    <div class="rightside">
        {% for block in sidebar.right.blocks %}{% include 'block.html' with block %}{% endfor %}
        <a href="http://www.szentsegimadas.hu" target="_blank"><img src="img/banner/szentsegimadas-banner.jpg" border="0" style="display:block;margin-right:auto;margin-left:auto"/></a>
    </div>
    {% endblock %}    
        

<div id="footer">
    <div class="leftside footer"><div align=center>{{ bottom.left.content|raw }}</div></div>
    <div class="center footer"><div align=center>{% if mainmenu.bottom %}{% include 'mainmenu.html' with mainmenu.bottom %}{% endif %}</div></div>
    <div class="rightside footer"><div align=center>{{ bottom.right.content|raw }}</div></div>
</div>
<div class="csik" id="alsocsik"></div>
</div>
{% endblock %}
{% block analytics %}
<script type="text/javascript">
	(function(i,s,o,g,r,a,m){i["GoogleAnalyticsObject"]=r;i[r]=i[r]||function(){
	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,"script","//www.google-analytics.com/analytics.js","ga");

  ga("create", "UA-3987621-4", "miserend.hu");
  ga("send", "pageview");

</script>
{% endblock %}
</body>
</html>
