body {
	margin: 7px;
    border: 1px;
    border-style: solid;
    border-color: #F5CC4C;
	padding: 0px;
	width: 98% - 16px;
	/*font-family: Arial, Helvetica, sans-serif;
	color:#fff;*/
}
#upload-wrapper {
	/*width: 50%;*/
	margin-right: auto;
	margin-left: auto;
	margin-top: 10px;
	/*background: #3D91A2;*/
	padding: 0px;
	border-radius: 10px;
}
#upload-wrapper h3 {
	padding: 0px 0px 10px 0px;
	margin: 0px 0px 20px 0px;
	margin-top: -30px;
	border-bottom: 1px dotted #DDD;
}
#upload-wrapper input[type=file] {
	padding: 6px;
	background: #FFF;
	border-radius: 5px;
}
#upload-wrapper #submit-btn {
	border: none;
	padding: 3px;
	background: #F5CC4C;
	border-radius: 5px;
	color: #FFF;
}
#output{
	padding: 5px;
	font-size: 12px;
}

/* prograss bar */
#progressbox {
	border: 1px solid #F5CC4C;
	padding: 1px; 
	position:relative;
	width:400px;
	border-radius: 3px;
	margin: 10px;
	display:none;
	text-align:left;
}
#progressbar {
	height:20px;
	border-radius: 3px;
	background-color: #F5CC4C;
    color: white;
	width:1%;
}
#statustxt {
	top:3px;
	left:50%;
	position:absolute;
	display:inline-block;
	color: #000;
}
