
.alap {  font-family: Arial, Helvetica, sans-serif; font-size: 10pt; color: #000000}
.alapkizart {  font-family: Arial, Helvetica, sans-serif; font-size: 10pt; color: #000000; text-align: justify}
.kozepes {  font-family: Arial, Helvetica, sans-serif; font-size: 75%; color: #000000}
.kicsi {  font-family: Arial, Helvetica, sans-serif; font-size: 70%; color: #000000}
.kiscim {  font-family: Arial, Helvetica, sans-serif; font-size: 10pt; color: #000000; font-weight: bold}
.kiscimkizart {  font-family: Arial, Helvetica, sans-serif; font-size: 10pt; color: #000000; font-weight: bold; text-align: justify}
.kozepescim {  font-family: Arial, Helvetica, sans-serif; font-size: 85%; color: #000000; font-weight: bold}
.alcim {  font-family: Arial, Helvetica, sans-serif; font-size: 90%; color: #000000; font-weight: bold}
.nevnap {  font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #053D78; font-weight: bold}

.dobozcim_fekete {  font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #000000; font-weight: bold}
.dobozcim_feher {  font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #FFFFFF; font-weight: bold}
.dobozcim_kek {  font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #244C8F; font-weight: bold}

.dobozfocim_fekete {  font-family: Arial, Helvetica, sans-serif; font-size: 14px; color: #000000; font-weight: bold}
.dobozfocim_feher {  font-family: Arial, Helvetica, sans-serif; font-size: 14px; color: #FFFFFF; font-weight: bold}
.dobozfocim_kek {  font-family: Arial, Helvetica, sans-serif; font-size: 14px; color: #244C8F; font-weight: bold}

.felsomenulink {  font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #053D78; font-weight: bold; text-decoration: none}
.felsomenulink:visited { color: #053D78}
.felsomenulink:hover { color: #8D317C}

.focimlink_barna {  font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #BC6F29; font-weight: bold; text-decoration: none}
.focimlink_barna:visited { color: #BC6F29}
.focimlink_barna:hover { color: #AB2B20}

.cimlink_barna {  font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #BC6F29; font-weight: normal; text-decoration: none}
.cimlink_barna:visited { color: #BC6F29}
.cimlink_barna:hover { color: #AB2B20}

.focimlink_sbarna {  font-family: Arial, Helvetica, sans-serif; font-size: 13px; color: #AF815D; font-weight: bold; text-decoration: none}
.focimlink_sbarna:visited { color: #AF815D}
.focimlink_sbarna:hover { color: #AB2B20}

.cimlink_sbarna {  font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #835F41; font-weight: bold; text-decoration: none}
.cimlink_sbarna:visited { color: #835F41}
.cimlink_sbarna:hover { color: #AB2B20}

.focimlink_feher {  font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #FFFFFF; font-weight: bold; text-decoration: none}
.focimlink_feher:visited { color: #FFFFFF}
.focimlink_feher:hover { color: #AB2B20}

.focimlink_kek {  font-family: Arial, Helvetica, sans-serif; font-size: 13px; color: #264D76; font-weight: bold; text-decoration: none}
.focimlink_kek:visited { color: #264D76}
.focimlink_kek:hover { color: #AB2B20}

.cimlink_kek {  font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #264D76; font-weight: bold; text-decoration: none}
.cimlink_kek:visited { color: #264D76}
.cimlink_kek:hover { color: #AB2B20}

.focimlink_piros {  font-family: Arial, Helvetica, sans-serif; font-size: 13px; color: #AB2B20; font-weight: bold; text-decoration: none}
.focimlink_piros:visited { color: #AB2B20}
.focimlink_piros:hover { color: #B96A0A}

.focimlink_narancs {  font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #B96A0A; font-weight: bold; text-decoration: none}
.focimlink_narancs:visited { color: #B96A0A}
.focimlink_narancs:hover { color: #AB2B20}

.kiemeltcimlink_piros {  font-family: Arial, Helvetica, sans-serif; font-size: 14px; color: #AB2B20; font-weight: bold; text-decoration: none}
.kiemeltcimlink_piros:visited { color: #AB2B20}
.kiemeltcimlink_piros:hover { color: #B96A0A}

.cikkcim_piros {  font-family: Arial, Helvetica, sans-serif; font-size: 16px; color: #AB2B20; font-weight: bold; text-decoration: none}

.alsomenulink {  font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #053D78; font-weight: bold;  text-decoration: none}
.alsomenulink:visited { color: #053D78}
.alsomenulink:hover { color: #8D317C}

.link {  font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #000000; text-decoration: none}
.link:visited { color: #000000}
.link:hover { color: #8D317C}

.linkkiemelt {  font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #AF0037; text-decoration: none; font-weight: bold}
.linkkiemelt:visited { color: #AF0037}
.linkkiemelt:hover { color: #8D317C}

.linkkicsi {  font-family: Arial, Helvetica, sans-serif; font-size: 10px; color: #000000; text-decoration: none}
.linkkicsi:visited { color: #000000}
.linkkicsi:hover { color: #8D317C}

.loginlink {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; color: #000000; text-decoration: none; font-weight: normal}
.loginlink:visited { color: #000000}
.loginlink:hover { color: #8D317C; font-weight: bold}

.implink {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; color: #BBBAB6; text-decoration: none}
.implink:visited { color: #BBBAB6}
.implink:hover { color: #8D317C}

.emllink {  font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #BBBAB6; text-decoration: none}
.emllink:visited { color: #BBBAB6}
.emllink:hover { color: #8D317C}

.menulink {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 75%; color: #FFFFFF; font-weight: bold; text-decoration: none}
.menulink:visited { color: #FFFFFF}
.menulink:hover { color: #F5CC4C}

.kismenulink {  font-family: Arial, Helvetica, sans-serif; font-size: 75%; color: #394873; text-decoration: none}
.kismenulink:visited { color: #394873}
.kismenulink:hover { color: #000000}

.hasabcimlink {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; color: #FFFFFF; font-weight: bold; text-decoration: none}
.hasabcimlink:visited { color: #FFFFFF}
.hasabcimlink:hover { color: #E6D6E0}

td.naptar { vertical-align: middle; height: 16px; border-style: solid; border-color: #909090; border-width: 1px;  background: #FFFFFF; }
td.selnaptar { vertical-align: middle; height: 16px; border-style: solid; border-color: #053D78; border-width: 2px; background: #F6F8F7; }
td.mainaptar { vertical-align: middle; height: 16px; border-style: solid; border-color: #AF0037; border-width: 1px; background: #FAF7F0; }
td.unnepnaptar { vertical-align: middle; height: 16px; border-style: solid; border-color: #909090; border-width: 1px; background: #d45a7a; }
td.maiunnepnaptar { vertical-align: middle; height: 16px; border-style: solid; border-color: #AF0037; border-width: 1px; background: #d45a7a; }
td.selunnepnaptar { vertical-align: middle; height: 16px; border-style: solid; border-color: #053D78; border-width: 2px; background: #d45a7a; }

td.enaptar { border-style: solid; border-color: #909090; border-width: 1px;}
td.selenaptar { border-style: solid; border-color: #006E48; border-width: 1px;}
td.maienaptar { border-style: solid; border-color: #AF0037; border-width: 1px;}

td.naptarinfo { border-style: solid; border-color: #835F41; margin-left: 4px; margin-right: 4px; border-width: 1px; background: #FFFAE4; }

.unnep {  font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #ff0000; text-decoration: none}
.unnep:visited { color: #ff0000}
.unnep:hover { color: #F6D2C4}

.unnep1 {  font-family: Arial, Helvetica, sans-serif; font-size: 10px; font-weight: bold; color: #ff0000; text-decoration: none}
.unnep1:visited { color: #ff0000}
.unnep1:hover { color: #F6D2C4}

.urlap {  font-family: Arial, Helvetica, sans-serif; font-size: 70%; color: #000000; background-color: #FFFFFF;}
.jobburlap {  font-family: Arial, Helvetica, sans-serif; font-size: 70%; color: #000000; background-color: #E8ECEF;}
.loginurlap {  font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #000000; background-color: #FFFFFF; border: #CBB5A0; border-style: solid; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px}
.keresourlap {  font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #000000; background-color: #FFFFFF; border: #CBB5A0; border-style: solid; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px}