<div class="panel-group hidden-xs" id="accordion">
    <div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title">Szerkesztési előzmények</h4>
		</div>
        <div class="panel-collapse">            
			<textarea id="textarea_id" rows=10 class="form-control" disabled wrap="off">{{ church.log }}</textarea>
        </div>
    </div>
</div>

<script>
	$( function() {
		var textarea = document.getElementById('textarea_id');
		textarea.scrollTop = textarea.scrollHeight;

	} );
</script>


