{% extends 'panel.twig' %}

{% import 'macros/icons.twig' as icons %}

{% if accessibility['wheelchair'] == 'yes' %}
	{% set title = icons.icon(ICONS_WHEELCHAIR, 'certain') ~ ' Akadálymentes' %}
{% elseif accessibility['wheelchair'] == 'no' %}
	{% set title = icons.icon(ICONS_WHEELCHAIR, 'crossed') ~ 'Nem akadálymentes</span>' %}
{% elseif accessibility['wheelchair'] == 'limited' %}
	{% set title = icons.icon(ICONS_WHEELCHAIR, 'partially') ~ 'Részben akadálymentes</span>' %}
{% else %}
	{% set title = icons.icon(ICONS_WHEELCHAIR, 'uncertain') ~ 'Akadálymentes?' %}
{% endif %}

{% set panel = 'primary' %}
{% set footer = true %}
{% set collapsible = 'collapsed' %}

{% block body %}	

	{% if accessibility['wheelchair'] == 'yes' %} 
		<p><strong>Teljesen</strong> akadálymentes: A bejáratnál, a templomtérben és a helyiségekben sincsenek lépcsők.</p>		
	{% elseif accessibility['wheelchair'] == 'limited' %}
		<p><strong>Részben</strong> akadálymentes: A bejáratnak maximum egy lépcsőfoka van, vagy van elérhető rámpa. A templomtér és a legfontosabb helyiségek lépcső nélküliek.</p>
	{% elseif accessibility['wheelchair'] == 'no' %}
		<p><strong>Egyáltalán nem</strong> akadálymentes. (Például a bejáratnál egy vagy több lépcső van, a templomtér és fontosabb helyiségek nem hozzáférhetőek.)</p>
	{% endif %}

	{% if accessibility['toilets:wheelchair'] == 'yes' %} 
		<p><strong>A mosdó kerekesszékkel is elérhető.</strong></p>
	{% elseif accessibility['toilets:wheelchair'] == 'no' %}
		<p>Nincs mosdó, vagy kerekesszékkel nem elérhető.</p>
	{% endif %}		
	
	{% if accessibility['wheelchair:description'] %}
		<p><strong>{{ accessibility['wheelchair:description'] }}</strong></p>
	{% endif %}
	
	{% if accessibility['hearing_loop'] == 'yes' %} 
		<p><strong>Hallást segítő indukciós hurok elérhető.</strong></p>
	{% elseif accessibility['hearing_loop'] == 'limited' %}
		<p>Hallást segítő indukciós hurok elérhetőm de tenni kell érte, hogy működjön / hozzáférjenek.</p>
	{% elseif accessibility['hearing_loop'] == 'no' %}
		<p>Nincs indukciós hurok a helyszínen.</p>
	{% endif %}	
	
	{% if accessibility['disabled:description'] %}
		<p>További információ: <strong>{{ accessibility['disabled:description'] }}</strong></p>
	{% endif %}
	
	{% if accessibility['wheelchair'] or accessibility['wheelchair:description'] or accessibility['hearing_loop'] or accessibility['toilets:wheelchair'] or accessibility['disabled:description'] %}{% else %}
		<p>Ha van információja az akadálymentességről: tolókocsival hozzáférhetőségről, akadálymentes mosdóról, indukciós hurokról, vagy bármi más akadálymentességről (vagy azok hiányáról), akkor kérjük <a href="javascript:OpenNewWindow('/templom/{{ id }}/ujeszrevetel',450,530);" class=link>észrevétel beküldésével</a> jelezze nekünk! Köszönjük!</p>	
	{% endif %}
	
{% endblock %}

{% block footer %}
    <small>© <a href="https://www.openstreetmap.org/copyright" target="_blank">OpenStreetMap</a> közreműködők.</small>
{% endblock %}


