<div class="calendar-app">
  @if (env.development) {
    <a href="/templom/40">Templom (40) naptár</a> -
    <a href="/templom/50">Templom (50) naptár</a> -
    <a href="/templom/40/eszrevetelek">Javaslat elfogadó (40)</a> -
    <a href="/templom/50/eszrevetelek">Javaslat elfogadó (50)</a> -
    <a href="/templom/40/editschedule">Védett szerkesztő (40)</a> -
    <a href="/templom/50/editschedule">Védett szerkesztő (50)</a> -
    <a href="/periodyeareditor">Időszakok</a> -
    <a href="/">Keresés (home)</a>
  }

  <router-outlet />

  @if (spinnerService.spinnerVisible) {
    <div class="spinner-overlay">
      <mat-spinner></mat-spinner>
    </div>
  }
</div>
