{% extends 'panel/base.html.twig' %}
{% set panel = 'primary' %}


{% block panel_title %}
    <span class="glyphicon glyphicon-warning-sign"></span> Segítsd munkánkat!
{% endblock %}


{% block panel_body %}
    <p class=alapkizart>
        Ha észrevételed van a templommal vagy a miserenddel kapcsolatban, írd meg nekünk!
        {% if church.allowAskToHolder and app.user %}
            Vagy akár vállalhatod, hogy karbantartod ennek a templomnak az adatait.
        {% endif %}
    </p>
    <div align=center>
        <a href="/templom/{{ church.id }}/ujeszrevetel" class=link>
            <font color=#8D317C size='+1'><b>Észrevétel beküldése</b></font>
        </a>
    </div>
    {% if church.allowAskToHolder %}
    <div align=center>
        <a href="/templom/{{ church.id }}/changeholders/?access=asked&confirmation=needed">
            <font color=#8D317C size='+1' class=""><b>Gondnokság vállalása</b></font>
        </a>
    </div>    
    {% elseif church.holderStatus == constant('\\App\\Entity\\ChurchHolder::HOLDER_STATUS_ASKED') %}
        <div align=center>        
            <font color=#8D317C size='+1' class="grey"><b>(Jelentkezésed elbírálás alatt van.)</b></font>
        </div>
    {% endif %}
    <div align=center>
        <a href="/templom/{{ church.id }}/ujkep" class=link>
            <font color=#8D317C size=''><b>Új kép beküldése</b></font>
        </a>
    </div>
{% endblock %}