{% extends 'panel/base.html.twig' %}
{% set panel = 'primary' %}


{% block panel_title %}
    <span class="glyphicon glyphicon-warning-sign"></span> Segítsd munkánkat!
{% endblock %}


{% block panel_body %}
    <p class="alapkizart">
        Ha észrevételed van a templommal vagy a miserenddel kapcsolatban, írd meg nekünk!
        {% if church.allowAskToHolder and app.user %}
            Vagy akár vállalhatod, hogy karbantartod ennek a templomnak az adatait.
        {% endif %}
    </p>
    <p class="text-center fs-5 fw-bold">
        <a href="/templom/{{ church.id }}/ujeszrevetel" class="link" style="color: #8D317C">
            Észrevétel beküldése
        </a><br />
    {% if church.allowAskToHolder %}
        <a href="/templom/{{ church.id }}/changeholders?access=asked&confirmation=needed" style="color: #8D317C">
            Gondnokság vállalása
        </a><br />
    {% elseif church.holderStatus == constant('\\App\\Entity\\ChurchHolder::HOLDER_STATUS_ASKED') %}
        <p style="color: #8D317C" class="text-center grey">
            (Jelentkezésed elbírálás alatt van.)
        </p><br />
    {% endif %}
        <a href="/templom/{{ church.id }}/ujkep" class="link" style="color: #8D317C">
            Új kép beküldése
        </a>
    </p>
{% endblock %}
