{% extends "layout.twig" %}

{% set title = 'Impresszum' %}

{% block content %}
    <h3>Üzemeltető</h3>
    <p>2020-tól az üzemeltetést átvette a <a href="https://fbe.hu/">Felebarátok Egyesület</a><br/> a <a href="http://vpa.hu">Virtu&aacute;lis Pl&eacute;b&aacute;nia Alap&iacute;tv&aacute;ny</a>tól, ami időközben megszűnt.</p>
    <p>Kiemelt támogatónk és partnerünk a <a href="https://72tanitvany.hu/" target="_blank">72 Tanítvány Mozgalom</a>.</p>
    
    <h3>Működésünk</h3>    
    <p>Oldalunkat kizárólag önkéntesek szerkesztik, bevételünk nincs. 
        Legtöbbet úgy segíthet nekünk, ha önkéntesként vállalja templomok adatainak rendszeres karbantartását. 
        Az alapítvány további működéséről és támogatási lehetőségekről a Felebarátok Egyesület oldalán olvashat: <a href="https://fbe.hu/">fbe.hu</a>.</p>
    
    <h3>Támogasd a megújulást!</h3>
    <iframe src="https://adjukossze.hu/adomanygyujtes/legyen-friss-az-orszagos-miserend-hu-3562/keret" style="width:275px;height:400px;border:0"></iframe>

	{% include '_panelnea.twig' %}
	
    

	<h3>Elérhetőség</h3>
    <ul>
        <li>Programozás: <a href='mailto:eleklaszlosj@gmail.com'>Elek László SJ</a> (<a href="http://jezsuita.hu">JTMR</a>)</li>
        <li><a href="https://play.google.com/store/apps/details?id=com.frama.miserend.hu">Android alkalmazás</a>: <a href="mailto:maczak.balazs@gmail.com">Maczák Balázs</a></li>
        <li><a href="https://itunes.apple.com/au/app/miserend/id967827488?mt=8">iOS alkalmazás</a>: <a href="mailto:horony.csaba@gmail.com">Horony Csaba</a></li>
        <li>Tartalmi dolgok: <a href='mailto:info@miserend.hu'>info@miserend.hu</a></li>
    </ul>
{%  endblock %}
