{% extends "layout.twig" %}

{% set title = 'Impresszum' %}

{% block content %}
    <p>2026-tól a miserendet a <a href="https://szentjozsef.jezsuita.hu/szent-jozsef-hackathon/">Szent József Hackathon</a> közössége tartja fenn és fejleszeti tovább önkétes alapon.</p>
    <p>Az egykori <a href="https://fbe.hu/">Felebarátok Egyesülettől</a> vették át a stafétát, akik 2020-ban a megszűnő <a href="http://vpa.hu">Virtu&aacute;lis Pl&eacute;b&aacute;nia Alap&iacute;tv&aacute;ny</a>t váltották.</p>

    <p>Oldalunkat önkéntesek szerkesztik. Valamint a 2025-ös <a href="https://adjukossze.hu/adomanygyujtes/legyen-friss-az-orszagos-miserend-hu-3562/">mikroadományokból megvalósult</a> fejlesztés kivételével, önkéntesek programozzák. Bevételünk nincs.</p>
    <p>Legtöbbet úgy segíthet nekünk, ha önkéntesként vállalja templomok adatainak rendszeres karbantartását.</p>

	<h3>Elérhetőség</h3>
    <ul>
        <li>Programozás: <a href='mailto:eleklaszlosj@gmail.com'>Elek László SJ</a> (<a href="http://jezsuita.hu">JTMR</a>)</li>
        <li><a href="https://play.google.com/store/apps/details?id=com.frama.miserend.hu">Android alkalmazás</a>: <a href="mailto:maczak.balazs@gmail.com">Maczák Balázs</a></li>
        <li><a href="https://itunes.apple.com/au/app/miserend/id967827488?mt=8">iOS alkalmazás</a>: <a href="mailto:horony.csaba@gmail.com">Horony Csaba</a></li>
        <li>Tartalmi dolgok: <a href='mailto:info@miserend.hu'>info@miserend.hu</a></li>
    </ul>
{%  endblock %}
