<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews
    </IfModule>

    RewriteEngine On

    # Redirect Trailing Slashes...
    RewriteRule ^(.*)/$ /$1 [L,R=301]

    RewriteBase /
    RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
    RewriteRule ^(.*)$ http://%1/$1 [R=301,L]

    # Handle Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f

    RewriteRule ^(vendor|kepek|fajlok|node_modules|bower_components|img)/ - [L]
              
    RewriteRule ^api/v([0-9]{1,4})/(sqlite|report|updated|signup|login|user)(/|)$ /index.php?q=api&action=$2&v=$1 [NC,QSA]
    
    RewriteRule ^api/v([0-9]{1,4})/miserend.sqlite3(/|)$ /fajlok/sqlite/miserend_v$1.sqlite3 [NC,L]	
    RewriteRule ^api/v([0-9]{1,4})/templomok(/|)$ /index.php?q=api&action=table&table=templomok&v=$1 [NC,QSA]    
    RewriteRule ^api/v([0-9]{1,4})/updated/([0-9]{4}-[0-9]{2}-[0-9]{2})(/|)$ /index.php?q=api&action=updated&v=$1&datum=$2 [NC]
    RewriteRule ^api/v([0-9]{1,4})/user/favorites(/|)$ /index.php?q=api&action=favorites&v=$1 [NC,QSA]
    RewriteRule ^api/v([0-9]{1,4})/upload(/|)$ /index.php?q=api&action=upload&v=$1 [NC,QSA]
    RewriteRule ^api/v([0-9]{1,4})/service_hours(/|)$ /index.php?q=api&action=service_hours&v=$1 [NC,QSA]
	RewriteRule ^api/v([0-9]{1,4})/nearby(/|)$ /index.php?q=api&action=nearby&v=$1 [NC,QSA]

    RewriteRule ^api/ https://github.com/borazslo/miserend.hu/wiki/API [NC]

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^([^?]*)$ /index.php?q=$1 [NC,L,QSA]

</IfModule>