{% extends  "layout.twig" %}

{% set title = "Elfelejtett jelszó" %}

{% block content %}
    <p>A regisztrált email cím vagy felhasználó megadásával megpróbálunk azonosítani és egy ÚJ jelszót küldünk ki a megadott email címre.</sp>
    <form method="post">
        <input type=hidden name=q value="user/lostpassword">        
        <div class="form-group">
            <label for="data">Felhasználónév vagy email cím</label>
            <input type="text" name="data" class="form-control" id="username" placeholder="Felhasználónév vagy emailcím" value="{{ input.data }}">
        </div>        
        <button type="submit" name="lostPassword" value="sendMeMyPassword" class="btn btn-default">Kérem az új jelszót</button>
    </form>

{% endblock %}
