{% extends  "layout.twig" %}

{% set title = "Elfelejtett jelszó" %}

{% block content %}
    <p>Az alábbi két adat közül legalább az egyik kitöltése alapján a rendszer megpróbál azonosítani. Ha sikerül, akkor elküld a megadott (regisztrált!) email címre egy ÚJ jelszót.</sp>
    <form method="post">
        <input type=hidden name=q value="user/lostpassword">        
        <div class="form-group">
            <label for="username">Felhasználónév</label>
            <input type="text" name="username" class="form-control" id="username" placeholder="Felhasználónév" value="{{ input.username }}">
        </div>
        <div class="form-group">
            <label for="email">Email cím</label>
            <input type="email" name="email" class="form-control" id="email" placeholder="Email" value="{{ input.email }}">
        </div>
        <button type="submit" name="lostPassword" value="sendMeMyPassword" class="btn btn-default">Kérem a jelszót</button>
    </form>

{% endblock %}
