{% extends 'layout_3col.html.twig' %}
{% set title = 'Regisztr치ci칩' %}

{% block content %}
	{{ form_start(form) }}
	{{ form_widget(form) }}

	<div class="mb-3">
		<button class="btn btn-primary" type="submit">Regisztr치ci칩</button>
	</div>

	{{ form_rest(form) }}
{% endblock %}
