.admincimlink {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; color: #000000; font-weight: bold; text-decoration: none}
.admincimlink:visited { color: #000000}
.admincimlink:hover { color: #000000}

.hiba {  font-family: Arial, Helvetica, sans-serif; font-size: 70%; font-weight: bold; color: #ff0000; text-decoration: none}
.hiba:visited { color: #ff0000}
.hiba:hover { color: #F6D2C4}

.adminmenulink {  font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #394873; text-decoration: none; font-weight: bold}
.adminmenulink:visited { color: #394873}
.adminmenulink:hover { color: #000000}

.adminlink {  font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #000000; text-decoration: none}
.adminlink:visited { color: #000000}
.adminlink:hover { color: #394873}