{% extends "layout_simpliest.twig" %}

{% block content %}
    {% if mail %}
        <form method=post>
            <div class="ui-widget-content ui-corner-all">                
                {% if mail.to %}
                    <input type=hidden name=email value="{{ mail.to }}">
                {% else %}
                    Címzett: <input type=text name=email class="form-control"><br/>
                {% endif %}
                {% if mail.subject %}
                    <input type=hidden name=subject value="{{ mail.subject }}">
                {% else %}
                    Tárgy: <input type=text name=subject value="Miserend - " class="form-control"><br/>
                {% endif %}
            {% block extraInput %}{% endblock %}
            <input type=hidden name=type value="{{ mail.type }}">
            <textarea name="text" id="codehere" class="form-control tinymce" rows="20" style="width:100%;margin-bottom:6px">{{ mail.body|nl2br }}</textarea>
        </div>

        <br/>&nbsp;
        <input type="submit" name="send" class="btn btn-default" value="Küldés">&nbsp;
        <input type="submit" name="clear" class="btn btn-default" value="Mégsem" onclick="history.go(-1);">
    </form>
    <script language="javascript" type="text/javascript" src="/vendor/tinymce/tinymce/tinymce.min.js"></script>
    <script language="javascript" type="text/javascript" src="/js/tiny_mce_init.js"></script>
{% endif %}
{% endblock %}